<!-- login module  <my-login></my-login> --> 
<div class="login-form pd-200">
	<div class="d-flex justify-content-center align-items-center" style="height: 80vh">
		<div class="row justify-content-center" style="width:70%">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">LogIn</div>
					<div class="card-body">
					<!--	
						<form action="/user/login_ack" method="POST" name='myForm'>
					-->
					<form>
							<div class="mb-3 row">
								<label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
								<div class="col-md-6">
									<input type="email" id="email_address" class="form-control" name="email_address" ng-model='user_id' required autofocus>
								</div>
							</div>
							<div class="mb-3 row">
								<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
								<div class="col-md-6">
									<input type="password" id="password" class="form-control" name="password"  ng-model='user_password' required>
								</div>
							</div>
							<div class="mb-3 row">
								<div class="col-md-6 offset-md-4">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="remember"> Remember Me
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 offset-md-4">
								<button type="button" ng-click='getLogin( user_id , user_password )'  class="btn btn-secondary">
									LogIn
								</button>
								<a href="#" class="btn btn-link">
									Forgot Your Password?
								</a>
							</div>
					</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</div>
