<!-- <meta charset="utf-8">
     <link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
	 <script src="jsoneditor/dist/jsoneditor.min.js"></script> --> 
<br> 	 
<div id="jsoneditor" style="width:100%;height:70%;"></div>
<br> 
<div class='form-group row'>
	<div class='col-md-8'>
	</div>
	<div class='col-md-2'>
		<BUTTON class='btn btn-info btn-block' ng-click='jsonApply()'>Apply</BUTTON>	
	</div>
	<div class='col-md-2'>
		<BUTTON class='btn btn-info btn-block' ng-click='jsonCancel()'>Cancel</BUTTON>
	</div>
<div>	
