#news-board {
	border-bottom: 1px solid #388f9e;
}
#news-board-wrap {
	padding: 80px 20px;
}
#news-board-wrap .board_list_area {
	
}
#news-board-wrap .board_list {
	max-width: 100%;
	margin: 10px 0;
	cursor: pointer;
	transition: opacity .3s;
}
#news-board-wrap .cont-wrap {
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px 20px 0;
	border-bottom: 1px solid #416844;
}
#news-board-wrap .board_list .frame {
	width: 37.5%;
}
#news-board-wrap .board_list .image-area {
	padding-top: 70%;
}
#news-board-wrap .cont-area {
	flex: 1;
	flex-basis: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
 	padding: 20px;
}
#news-board-wrap .board_list:hover {
	opacity: .6;
}
#news-board-wrap .col.no1 {
	padding-bottom: 10px;
}
#news-board-wrap .col.no2 {
	order: 0;
	font-size: 1.4em;
	font-weight: 600;
	position: relative;
	padding-bottom: 20px;
}
#news-board-wrap .col.no3 {
	order: 1;
	font-weight: 400;
	color: #797979;
}
/* #news-board-wrap .col.no1 {
	order: 2;
	color: #dcad70;
} */
/*#news-board-wrap .col.no1,*/
#news-board-wrap .col.no4,
#news-board-wrap .col.no5 {
	display: none;
}
#templete-wrap .templete-flex {
	padding: 20px;
	box-shadow: 4px 4px 16px rgba(0,0,0,.3);
	background-color: #fff;
}
#news-cont-wrap {
	width: 100%;
	max-width: 800px;
	margin: 80px auto;
	padding: 40px;
	background-color: #fff;
	box-shadow: 4px 4px 16px rgba(0,0,0,.3);
}
#news-cont-wrap .rolling-area {
	position: relative;
	margin-bottom: 40px
}
.image-wrap {
	position: relative;
}
.image-list {
	position: relative;
	overflow: hidden;
}
.image-list .image-area {
	height: 100%;
}
#templete-wrap .inst-area {
	font-size: 1.2em;
	line-height: 1.4em;
}
#templete-wrap .inst-area span[data-name="datetime"] {
	padding-bottom: 6px;
}
#templete-wrap .inst-area span[data-name="title"] {
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.4;
	padding-bottom: 20px;
}
#templete-wrap .inst-area span[data-name="subject"] {
	font-size: 1.4em;
	font-weight: 600;
	color: #388f9e;
	padding-bottom: 8px;
}
#search-wrap {
	max-width: 100%;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 600px) {
	#news-cont-wrap {
		padding: 40px 20px;
	}
	#news-board-wrap .cont-wrap {
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;
		padding: 20px 0 0;
	}
	#news-board-wrap .board_list .frame {
		width: 100%;
	}
	#news-board-wrap .cont-area {
		padding: 20px 0;
	}
}
@media screen and (max-width: 480px) {
	#news-board-wrap .board_list {
		width: 100%;
	}
}


