#diet {
	border-bottom: 1px solid #388f9e;
}
#sub-top {
	z-index: 1;
}
#diet .sect {
	display: none;
	opacity: 0;
	visibility: hidden;
}
#sub-bottom {
	padding-bottom: 0;
}
#diet .sect.selected {
	display: block;
	position: absolute;
	animation: imgSlideFadeIn .6s .6s forwards;
}
#diet .sect.show {
	position: relative;
}
#diet .sect.off {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	animation: imgSlideFadeOut .6s forwards;
}
#diet .sect.hidden {
	position: absolute;
}
@keyframes imgSlideFadeIn {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes imgSlideFadeOut {
	0% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

#diet-sect01 {
	position: relative;
}
#diet-sect01::before {
	content: '';
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('/img/bg5-1.svg');
	background-size: 100%;
	background-repeat: repeat-y;
	background-position: center top;
}
#diet-sect01-wrap {
	position: relative;
}
#diet-sect01-wrap::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: -200%;
	bottom: 0;
}
#diet-sect01-wrap::before {
	/*background-color: #202b5e;*/
}
#diet-sect01 .instruction-area {
	z-index: 6;
	position: relative;
}
#diet-sect01 .inst-part {
	/*color: #fff;*/
	padding: 80px 80px 80px 160px;
}
#diet-sect01 .inst-part.rev {
	background: rgba(56, 143, 158,0.5);
}
#diet-sect01 .inst-part h1 {
	display: flex;
	position: relative;
	width: 100%;
	padding: 0 20px 20px 0px
}
#diet-sect01 .inst-part h1::after {
	content: '';
	flex-grow: 1;
	position: relative;
	top: 1.5em;
	height: 4px;
	margin-left: 20px;
	background-color: #388f9e;
}
#diet-sect01 .inst-part.rev h1::after {
	background-color: #202b5e;
}
#diet-sect01 .inst-part h1 .title {
	font-size: 2.6em;
	font-weight: 900;
	max-width: 700px;
	color: #388f9e;
	line-height: 1.5em;
}
#diet-sect01 .inst-part.rev h1 .title {
	color: #202b5e;
}
#diet-sect01 .inst-part .cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.4em;
	line-height: 1.4em;
}
#diet-sect01 .inst-part .num {
	align-self: flex-start;
	display: inline-block;
	font-weight: 900;
	position: relative;
}
#diet-sect01 .inst-part .num::before {
	content: '';
	position: absolute;
	top: .6em;
	right: -30px;
	width: 15px;
	height: 2px;
	background-color: #bbb;
}
#diet-sect01 .inst-part .inst {
	display: block;
	padding-top: 20px;
}






#diet-sect02 {
	padding: 40px 20px;
}
#diet-sect02 .program-area {
	padding-bottom: 30px;
}
#diet-sect02 .program-area h1 {
	font-size: 2em;
	font-weight: 600;
	position: relative;
	text-align: center;
}
#diet-sect02 .program-area h1::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	margin-top: -1px;
	background-color: #388f9e;
}
#diet-sect02 .program-area h1 span {
	display: inline-block;
	position: relative;
	padding: 10px 20px;
	background-color: #fff;
}
#diet-sect02 .program-list {
	display: flex;
	justify-content: center;
	padding: 12px 0 8px;
}
#diet-sect02 .program-wrap {
	position: relative;
	width: 13%;
	padding: 8px;
}
#diet-sect02 .pr-cont-wrap {
	z-index: 3;
	position: relative;
	width: 100%;
	padding-top: 100%;
	border-radius: 300px;
	/* border: 1px solid rgba(56, 143, 158, .5); */
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	
}
#diet-sect02 .pr0 {
	background-color: rgba(56, 143, 158, .1);
}
#diet-sect02 .pr1 {
	background-color: rgba(56, 143, 158, .2);
}
#diet-sect02 .pr2 {
	background-color: rgba(56, 143, 158, .3);
}
#diet-sect02 .pr3 {
	background-color: rgba(56, 143, 158, .4);
}
#diet-sect02 .pr4 {
	background-color: rgba(56, 143, 158, .5);
}
#diet-sect02 .pr5 {
	color: #fff;
	background-color: rgba(56, 143, 158, .8);
}
#diet-sect02 .pr-cont-wrap::after {
	content: '';
	position: absolute;
	top: -15%;
	left: 45%;
	width: 58px;
	height: 58px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}
#diet-sect02 .pr0::after {
	background-image: url('/img/icon/pr01.svg');
}
#diet-sect02 .pr1::after {
	background-image: url('/img/icon/pr02.svg');
}
#diet-sect02 .pr2::after {
	background-image: url('/img/icon/pr03.svg');
}
#diet-sect02 .pr3::after {
	background-image: url('/img/icon/pr04.svg');
}
#diet-sect02 .pr4::after {
	background-image: url('/img/icon/pr05.svg');
}
#diet-sect02 .pr5::after {
	background-image: url('/img/icon/pr06.svg');
}
#diet-sect02 .pr-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
#diet-sect02 .pr-cont .txt {
	font-size: 1.4em;
	margin: auto;
	padding: 10px;
}
#diet-sect02 .icon {
	width: 1.4%;
	margin: 0 28px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#diet-sect02 .icon.plus {
	background-image: url('/img/icon/plus.svg');
}
#diet-sect02 .icon.equal {
	background-image: url('/img/icon/equal.svg');
}
#diet-sect02 .result-area {
    width: 100%;
	margin-top: 20px;
	text-align: center;
}
#diet-sect02 .result {
	display: inline-block;
	width: 100%;
	max-width: 170px;
}
#diet-sect02 .result.large {
	max-width: 240px;
	margin-top: 20px;
}
#diet-sect02 .result .pr-cont span {
	display: inline-block;
	line-height: 1.6em;
}
#diet-sect02 .result .pr-cont .prd {
	line-height: 1.2em;
	padding: 5px 0;
}
#diet-sect02 .result .org {
	font-weight: 700;
	color: #202b5e;
	text-decoration: line-through;
}
#diet-sect02 .result .pr-cont .inst {
	font-size: .8em;
	line-height: 1.2em;
	padding-bottom: 5px;
}
#diet-sect02 .result .disc {
	font-size: 1.2em;
	font-weight: 600;
}



#diet-sect03 {
	padding: 40px 20px;
}
#diet-sect03 .item-wrap {
	width: 50%;
}
#diet-sect03 .item .btn {
	border-radius: 0;
	background-image: url('/img/icon/question.svg');
}



@media screen and (max-width: 800px) {
	#diet .sect {
		display: block;
		opacity: 1;
    	visibility: visible;
	}
	#sub-bottom {
		padding-top: 0;
	}
	#diet .sect.off {
		animation: none;
	}
	#diet .sect.hidden {
		position: relative;
	}
	#diet-sect01 .inst-part {
		padding: 40px 20px;
	}
	#diet-sect01 .inst-part h1 {
		padding: 20px 0;
	}
	#diet-sect01 .inst-part h1::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		margin-left: 0;
	}
	#diet-sect01 .inst-part h1 .title {
		font-size: 2em;
	}
	#diet-sect01 .inst-part .inst {
		padding-top: 10px;
	}
	#diet-sect02 .program-list {
		justify-content: center;
		flex-wrap: wrap;
	}
	#diet-sect02 .program-wrap {
		width: 26%;
		margin: 0 10px;
		padding: 12px;
	}
	#diet-sect02 .icon {
		display: none;
	}
	#diet-sect03 .item-wrap {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	#diet-sect02 .program-area h1::before {
		top: 0;
		margin-top: -4px;
	}
	#diet-sect02 .program-wrap {
		width: 40%;
		margin: 0;
		padding: 12px;
	}
	#diet-sect02 .pr-cont-wrap::after {
		width: 42px;
		height: 42px;
	}
	#diet-sect02 .pr-cont .txt {
		font-size: 1.1em;
	}
}