#sub-priest {

}
.person-info-area {
	max-height: 0;
	overflow: hidden;
	transition: 1s;
	transition-timing-function: cubic-bezier(.2,.19,.87,.32);
}
.person-info-area.on {
	max-height: 600px;
}
.person-info-area .photo-area {
	min-width: 	400px;
	min-height: 400px;
	width: 	400px;
	height: 400px;
}
.priest-list li {

}

.photo-wrap .btn-area,
.priest-list .btn-area {
	position: absolute;
	width: 48px;
	height: 48px;
}
.photo-wrap .btn-area {
	top: 0;
	left: -48px;
	/*transform: translateX(-100%);*/
}
.priest-list .btn-area {
	bottom: 0;
	right: 0;
}
@media screen and ( max-width: 800px ) {
	.person-info-area.on {
		max-height: 1200px;
	}
}
@media screen and ( max-width: 600px ) {
	.person-info-area .photo-area {
		min-width: auto;
		width: auto;
	}
	#priest-info-close {
		left: 0;
	}
}