header {
  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  left:0;
  right:0;
  top:0; 
}
body {
	margin:0;
	padding:0;    
	padding-top:75px; 
	height:5000px; 
}
