<form class="w80">
	<div class="row">
		<div class="col-md-2">
		<label class="text-end">
			Collection 이름: 
		</label>		 
		</div>
		<div class="col-md-3">
		       <input type="text" class="form-control w100 text-center" ng-model="collectionTitle" disabled />
		</div>
		<div class="col-md-2">
			<label class="text-end">
				권한 Level: 
			</label>		 
		</div>
		<div class="col-md-3">
			<input type="number" class="form-control text-center" ng-model="collectionLevel" min="-1" max="5" step="1" />
		</div>
	</div>
	<div class="flx-cc w100 row">
		<div class="col-md-2">
		</div>	
		<div class="col-md-3">
			<label>
				Header 편집:<input type="CHECKBOX" ng-model="header_edit_enable" ng-disabled="apps_list_edit_enable" />
			</label>		 
		</div>	
		<div class="col-md-3">
			<label>
				Apps 편집:<input type="CHECKBOX" ng-model="apps_list_edit_enable"
									   ng-disabled="header_edit_enable"/>
			</label>		 
		</div>
		<div class="col-md-2">
		</div>	
	</div>
	<div class="flx-cc w100">
		<div class="row w100">
			<div class="col-md-2">
			<div ng-if="header_edit_enable" class="flx-col w100">
				<i class="box box-question"></i><input type="text" ng-model="collectionSearch" placeholder="collections list"/>
				<button class="btn btn-secondary" ng-click="header_collection_add()">추가</button>
				<select class="select_02 w100" ng-model="collectionSelected" multiple size="10">
					<option ng-repeat="collection in collections_list | filter: collectionSearch ">{{ collection }}</option>
				</select>	
			</div>
			</div>
			<div class="col-md-2">
			<div class="flx-col w100" ng-if="!apps_list_edit_enable">
				<i class="box box-question"></i><input type="text" ng-model="curCollectionSearch" placeholder="cur heads[collections]"/>
				<button class="btn btn-secondary" ng-click="header_collection_remove()">삭제</button>
				<select class="select_02 w100" ng-model="curCollectionSelected" multiple size="10" >
					<option ng-repeat="collection in curCollections_list | filter: curCollectionSearch ">{{ collection }}</option>
				</select>	
			</div>	 
			</div>	 
<!--			
		</div>
		<div class="flx-cc">
-->		
			<div class="col-md-2">
			<div ng-if="apps_list_edit_enable" class="flx-col w100">
				<i class="box box-question"></i><input type="text" ng-model="appSearch" placeholder="apps list" />
				<button class="btn btn-secondary" ng-click="add_app()">추가</button>
				<select class="select_02 w100" ng-model="oSelected.apps" multiple size="10" ng-multiple="true" ng-change="changeSelectedAdd()">
					<option ng-repeat="app in apps_list | filter: appSearch ">{{ app }}</option>
				</select>	
			</div>	 
			</div>	 
			<div class="col-md-2">
			<div class="flx-col w100" ng-if="!header_edit_enable">
				<i class="box box-question"></i><input type="text" ng-model="curAppSearch" placeholder="cur apps"/>
				<button class="btn btn-secondary" ng-click="delete_app()">삭제</button>
				<select class="select_02 w100" ng-model="oCurrent.apps" multiple size="10" ng-multiple="true" ng-change="changeSelectedDelete()">
					<option ng-repeat="app in curApps_list | filter: curAppSearch ">{{ app }}</option>
				</select>	
			</div>	 
			</div>	 
		</div>
	</div>
	<label>
		외부Link<input type="CHECKBOX" ng-model="extrn_enable" />
		<div ng-if="extrn_enable">
			<input type="text" class="form-control w30"  ng-model="extrn_url" />
			<select class="select_01">
				<option>_self</option>
				<option>_blank</option> 
			</select> 	 
		</div>
	</label>		 
	<button class="btn btn-secondary w30">저장</button> 
</form>  	   
