<html ng-app='adminWeb'> 
	<head>               
		<script data-require='jquery@*' data-semver='2.1.1' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>                          
		<link rel='stylesheet' href='/lib/spreadjs/15.0.6/css/gc.spread.sheets.excel2016colorful.15.0.6.css' /> 
		<script src='/lib/spreadjs/15.0.6/scripts/gc.spread.sheets.all.15.0.6.min.js'></script> 
<!--		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
-->		
		<link rel='stylesheet' href='/admin/resource/bootstrap_me.css' />
		<link rel='stylesheet' href='/admin/resource/style_2023_07_serviceLimit.css' />
		<style>
		</style>
	</head>                                                                
		<body>                                                             
			<div ng-controller='adminWebCtrl'>                             
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="container-fluid">
				    <a class="navbar-brand" href="#">EZoffice</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="#">Web Amin 편집기</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						    Side Menus 
						</a>
					</li>
				      </ul>
				      <form class="d-flex">
					<button class='btn  btn-sm btn-outline-secondary btn-block'><a href='javascript:closeWindow()'>Close</a></button>
				      </form>
				    </div>
				  </div>
				</nav>
				<nav class='navbar navbar-expand-lg navbar-light bg-light'>
					<div class='container-fluid row'>
					<!--	
						<div class='col-md-2'>
							<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
							    Side Menus 
							</a>
						</div>
					-->	
						<div class='col-md-2'>
							<h5><span class='badge bg-secondary mx-3'>Collection</span>디자인</h5>
						</div>
						<div class='col-md-2'>
							<h5><span class='badge bg-secondary mx-3'>App</span>EZoffice Web Administration</h5>
						</div>
						<div class='col-md-4'>
							<div class='alert alert-block' ng-class="{'alert-success': alert_info_message.class == 'success', 'alert-warning': alert_info_message.class == 'warning' }" role='alert' ng-init="alert_info_message.message ='Alert Message'; alert_info_message.class = 'warning'">
							{{ alert_info_message.message }}
							</div>
						</div> 	
					</div>	
				</nav>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
				  <div class="offcanvas-header">
				    <h5 class="offcanvas-title" id="offcanvasExampleLabel">권한관리</h5>
				    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				  </div>
				  <div class="offcanvas-body">
				    <div>
				      아래에서 작업 항목을 선택하세요.
				    </div>
				    <div> 
				    	<ul>
						<li><a ui-sref="hello" ui-sref-active="active">DB 권한관리</a></li> 
						<li ng-if="ezoffice_only"><a ui-sref="limit_orgList">서비스설정관리</a></li>
						<li><a ui-sref="service_report">서비스사항</a></li>
						<li><a ui-sref="service_admin({ viewId:'1' })">서비스권한관리</a></li>
						<li ng-repeat="person in $ctrl.people">
							<a ui-sref="person({ personId: person.id })">{{person.name}}</a>
						</li>	 
				   	</ul>
				    </div>	
				    <div class="dropdown mt-3">
				      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
					사용자정의
				      </button>
				      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				      </ul>
				    </div>
				  </div>
				</div>				

  			<ui-view></ui-view>
        	        </div>   
			<my-footer></my-footer> 
			<script>
				function closeWindow(){
					window.open('','_parent','');
					window.close();
				}
				function offCanvasListener(offCanvasId) {
					let myOffCanvas = document.getElementById(offCanvasId);
					const hideCanvas = () => {
						let openedCanvas = bootstrap.Offcanvas.getInstance(myOffCanvas);
						openedCanvas.hide();
						event.target.removeEventListener('mouseleave', hideCanvas);
					}
					const listenToMouseLeave = (event) => {
						event.target.addEventListener('mouseleave', hideCanvas);
					}
					myOffCanvas.addEventListener('shown.bs.offcanvas', listenToMouseLeave);
				}
				//function call
				offCanvasListener('offcanvasExample');
			</script>				
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	
			<script src='/lib/angular/angular.js'></script>               
	                <script src='/lib/angular-cookies/angular-cookies.js'></script>
			<script src='/lib/angular-ui-router/angular-ui-router.js'></script>               
			<script src='/directives/do_modal/index.js'></script>               
			<script src='../parts/spreadjs/index.js'></script>
			<script src='../admin/parts/footers/index.js'></script>
			<script src='../service/spreads/product/spreadjs/index.js'></script> 
			<script src='../service/spreads/custom/jupitor_admin_editor/index.js'></script> 
			<script src='../service/spreads/custom/jupitor_service_admin_editor/index.js'></script> 
			<script src='../service/spreads/events/index.js'></script> 
			<script src='app.js'></script>                                
			</body>                                                        
	</html>
