<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/resource/css/sidebars.css"> 
    <!-- Bootstrap CSS -->
	<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src='/lib/jquery/dist/jquery.min.js'></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/lib/tui.tree/tui-tree.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/tui.tree/tui-tree.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/lib/jQuery-contextMenu/jquery.contextMenu.css">
	<script src="/lib/jQuery-contextMenu/jquery.contextMenu.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/comm.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/comm-mobile.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/style-comm.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/style-comm-mobile.css" media="all">
	<style>
body {
	font-family:'Noto Sans KR', 'Raleway', sans-serif;
	}
	.r-2{
	  position: absolute ;
	  right: 35%;
	  top: 0;
	}
	/* override  .login-form padding-bottom */
	.login-form {
		padding-bottom: 200px ;
	}
	.btn-secondary{
	   background-color: rgba( 120, 20 , 140, 1 );
	   border-color: rgba( 60,10,70,1 );
	}
	.btn-secondary:hover .btn-secondary:focus{
	   background-color: rgba( 230, 140 , 255, 1 );
	}
	.nav-pills .nav-link.active{
	   background-color: rgba( 120, 20 , 140, 1 );
	}
	.fit_size{
	   pointer-events: none;
	   width: 120px;
	   transform: scale(9) translateY(11px);
	}
	.nav-link:hover{
	   font-size: 18px;
	   color: orange;
	}
	.pointer_events_none{
	   pointer-events: none;
	}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <title>EZ Office</title>
</head>
<body>
	<div class="vh-100"> 
		<!--	
	  <link rel="stylesheet" href="/resource/css/header-styles.css">
		-->
		<nav id='' class="navbar navbar-expand-lg navbar-light fixed-top bg-light justify-content-end px-5" >
			<div class="">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<h5 id="org_name">Organization Name</h5> 
					<ul class="navbar-nav">
						<li class='nav-item active'><a href='#' class="nav-link" >
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M5 12H3l9-9l9 9h-2M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7"/><path d="M9 21v-6a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v6"/></g></svg>
							</a></li>
							<li class='nav-item' ng-if='is_ezoffice'><a ng-href='{{ hrefs.work_config }}' target="_blank" class="nav-link">업무설정</a></li>
							<!--				
		   <li class='nav-item'><a ng-href='{{ hrefs.db_work }}' target="_blank" class="nav-link">DB업무</a></li>
							-->				
							<li class="dropdown">
								<a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
									DB업무 	
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
									<li><a class="dropdown-item" href="/app/ezch_tbl_maker" target="_blank">테이블생성기</a></li>
									<li><a class="dropdown-item" href="/app/ezch_tbl_editor" target="_blank">테이블편집기</a></li>
									<li><a class="dropdown-item" ng-href="{{ hrefs.sql_editor }}">SQL편집기</a></li>
								</ul>
							</li>
							<li class='nav-item'><a ng-href='{{ hrefs.upload_file }}' target="_blank" class="nav-link">파일업로드</a></li>
							<li class='nav-item'><a ng-href='{{ hrefs.emPower }}' target="_blank" class="nav-link">권한</a></li>
							<!--				
		   <li class='nav-item'><a ng-href='{{ hrefs.authentication }}' target="_blank" class="nav-link">
							-->				
							<li class="dropdown">
								<a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
									인증
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M8 11A5 5 0 1 0 8 1a5 5 0 0 0 0 10Zm5.023 2.023C11.772 11.76 10.013 11 8 11c-4 0-7 3-7 7v5h7m2-3.5a2.5 2.5 0 1 0 5.002-.002A2.5 2.5 0 0 0 10 19.5ZM23 15l-3-3l-6 6m3.5-3.5l3 3l-3-3Z"/></svg>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
									<li><a class="dropdown-item" ng-href="{{ hrefs.auth_esr }}">ESR 인증</a></li>
									<li><a class="dropdown-item" ng-href="{{ hrefs.auth_cert }}">공인인증서 인증</a></li>
								</ul>
							</li>
							<li class='nav-item'><a class="nav-link bg-light text-black" href="#person_info" >
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a5 5 0 1 0 5 5a5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3a3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"/></svg>	   
									 <span id="user_name"></span> </a></li> 
							<li class='nav-item'><a href='/admin/logout' class="nav-link">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16 13v-2H7V8l-5 4l5 4v-3z"/><path fill="currentColor" d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"/></svg> 
								</a>
							</li> 
							<li class='nav-item' ng-if='is_ezoffice'><a ng-href='{{ hrefs.work_space }}' target="_blank" class="nav-link">WORKSPACE</a></li>
					</ul>
				</div>
			</div>
		</nav> 
<main>
  <h1 class="visually-hidden">Sidebars examples</h1>
  <div class="d-flex flex-column flex-shrink-0 p-3 mt-5  text-gray bg-white" style="width: 400px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">즐겨찾기</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#!/main_page/sub1" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          <span class="me-4"> 테이블편집기</span>
		   <span id="addChildBtn">
			   <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m21.41 11.58l-9-9C12.04 2.21 11.53 2 11 2H4a2 2 0 0 0-2 2v7c0 .53.21 1.04.59 1.41l.41.4c.9-.54 1.94-.81 3-.81a6 6 0 0 1 6 6c0 1.06-.28 2.09-.82 3l.4.4c.37.38.89.6 1.42.6c.53 0 1.04-.21 1.41-.59l7-7c.38-.37.59-.88.59-1.41c0-.53-.21-1.04-.59-1.42M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7M10 19H7v3H5v-3H2v-2h3v-3h2v3h3z"/></svg>추가
		   </span>	   
        </a>
		<div id="tree" class="context-menu-one tui-tree-wrap" style="width:370px"></div> 
      </li>
    </ul>
    <hr>
  </div>
  <div class="b-example-divider"></div>
  <div class="'d-flex flex-column">
  <div class="container col-xxl-8 px-4 py-5 mt-5">
	<div class="row">
		<div class="col-lg-6">
			<h5>star_horse@naver.com<span class="badge bg-secondary">IT</span></h5>
		</div>	
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="main_theme.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1050" height="750" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h3 class="display-5 fw-bold lh-3 mb-3">EZChemtech 정보 포털</h3>
        <p class="lead">중소기업의 정보 전산화 와 자동화 이지오피스가 응원합니다.! </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-secondary btn-sm px-4 me-md-2">알아보기</button>
		 <!-- 
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
		 -->
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
  <div id="person_info" class="d-flex justify-content-center bg-light vh-100 my-5" style="width: 100%" >
	  <div class="d-flex flex-column flex-shrink-0 p-3 px-5 mt-5 bg-light" style="width:45%;">
		  <label><h3>개인정보</h3></label> 
		  <div class="mb-3 row">
			  <label for="staticEmail" class="col-sm-2 col-form-label">이름</label>
			  <div class="col-sm-10">
				  <input type="text" readonly class="form-control-plaintext" id="staticEmail" ng-value="cur_user_info.name">
			  </div>
		  </div>
		  <div class="mb-3 row">
			  <label for="staticEmail" class="col-sm-2 col-form-label">부서</label>
			  <div class="col-sm-10">
				  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="IT">
			  </div>
		  </div>
	  </div>
	  <div class="d-flex flex-column flex-shrink-0 p-3 px-5 mt-5 bg-light" style="width:45%;">
		  <form>
			  <label><h3>패스워드 변경</h3></label> 
			  <div class="mb-3 row">
				  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
				  <div class="col-sm-10">
					  <input type="text" readonly class="form-control-plaintext" id="staticEmail" ng-value="cur_user_info.email">
				  </div>
			  </div>
			  <div class="mb-3 row">
				  <label for="inputPassword" class="col-sm-2 col-form-label">new Password</label>
				  <div class="col-sm-10">
					  <input type="password" class="form-control" id="inputPassword" ng-model="password.new">
				  </div>
			  </div>
			  <div class="mb-3 row">
				  <label for="inputPassword" class="col-sm-2 col-form-label">confirm Password</label>
				  <div class="col-sm-10">
					  <input type="password" class="form-control" id="inputPassword" ng-model="password.confirm">
				  </div>
			  </div>
			  <button class="btn btn-lg btn-secondary" ng-click="changePw()">확인</button> 
		  </form> 
	  </div>
  </div>
	<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"></h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="exampleModalContent">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" id="tree_deleteConfirm" class="btn btn-secondary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
<div class="bg-clr-0">
	<div class="ft-wh in-width mx800 flx-0 pd-t100 pd-b20 pd-s40">

		<div class="inst-box w60 m-w100">
			<a href="/" class="">
				<div class="mx170 notc pd-b20">
					<div class="logo wh">
					</div>
				</div>
			</a>
			<div class="">
				<ul class="flx-0 svg-wh">

					<li class="pd-r20">
						<a href="https://www.kakaocorp.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M138.022,5.288h-2.048c-64.876,0-117.478,52.59-117.478,117.48v2.975c0,44.635,24.896,83.465,61.563,103.35
									c-0.868,4.256-3.662,10.932-7.976,16.732c-4.973,6.686-11.242,14.473-14.127,17.543c-2.864,3.078-0.262,4.477,8.366,2.26
									c8.631-2.26,26.733-9.215,40.274-17.02c6.074-3.504,9.622-5.514,12.132-6.795c5.639,0.838,11.363,1.414,17.244,1.414h2.048
									c64.873,0,117.482-52.605,117.482-117.484v-2.975C255.505,57.878,202.896,5.288,138.022,5.288z M75.181,120.798h25.184v24.947
									H75.181c-4.034,0-7.436-1.133-10.111-3.387c-2.654-2.207-3.946-5.211-3.946-9.186c0-3.813,1.31-6.752,4.009-8.988
									C67.885,121.901,71.168,120.798,75.181,120.798z M193.389,131.942c-7.604,9.26-18.798,13.957-33.268,13.957h-17.045v-24.963h9.362
									c6.995,0,12.232-1.84,16.021-5.623c3.5-3.535,5.273-8.371,5.273-14.43c-0.306-5.535-2.297-10.005-5.918-13.281
									c-3.622-3.244-8.245-4.895-13.744-4.895h-18.242v93.123c0,4.58-1.291,8.473-3.843,11.588c-2.531,3.076-5.967,4.57-10.49,4.57
									c-4.49,0-7.965-1.508-10.623-4.6c-2.672-3.172-3.971-6.949-3.971-11.559V75.391c0-5.624,1.531-9.901,4.678-13.073
									c3.093-3.123,7.498-4.705,13.096-4.705h31.408c14.808,0,26.094,3.695,33.547,10.984c2.746,2.627,5.208,5.74,7.31,9.253
									c2.113,3.52,3.747,7.28,4.855,11.167c1.094,3.91,1.646,7.855,1.646,11.728C203.44,113.509,200.062,123.999,193.389,131.942z"/>
								</svg>
							</div>
						</a>
					</li>

					<li class="pd-r20">
						<a href="https://www.instagram.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M186.188,8.842H87.814C44.193,8.842,8.838,44.2,8.838,87.824v98.367c0,43.611,35.355,78.964,78.977,78.964h98.374
										c43.619,0,78.97-35.353,78.97-78.964V87.824C265.158,44.2,229.808,8.842,186.188,8.842z M240.557,176.75
										c0,35.249-28.579,63.808-63.808,63.808H97.253c-35.248,0-63.82-28.559-63.82-63.808V97.255c0-35.233,28.572-63.817,63.82-63.817
										h79.496c35.229,0,63.808,28.583,63.808,63.817V176.75z"/>
									<path d="M140.437,69.935c-37.296,0-67.523,30.219-67.523,67.509c0,37.277,30.227,67.514,67.523,67.514
										c37.284,0,67.513-30.236,67.513-67.514C207.949,100.154,177.721,69.935,140.437,69.935z M140.437,178.062
										c-22.45,0-40.628-18.19-40.628-40.617c0-22.448,18.178-40.618,40.628-40.618c22.428,0,40.616,18.17,40.616,40.618
										C181.053,159.871,162.864,178.062,140.437,178.062z"/>
									<path d="M220.445,68.883c0,9.482-7.702,17.165-17.174,17.165c-9.481,0-17.161-7.683-17.161-17.165
										c0-9.48,7.68-17.178,17.161-17.178C212.743,51.706,220.445,59.403,220.445,68.883z"/>
								</svg>
							</div>
						</a>
					</li>
					
					<li class="pd-r20">
						<a href="https://www.facebook.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M198.421,52.077h27.199V9.324h-33.777l0,0h-6.985c0,0-25.626-0.634-41.966,20.6c0,0-11.127,10.491-11.297,41.211h-0.008
									V103.2h-40.29v45.396h40.29v117.273h46.468V148.596h39.974l5.572-45.396h-45.546V71.135h-0.012
									C178.156,67.555,179.75,51.754,198.421,52.077z"/>
								</svg>
							</div>
						</a>
					</li>
					
					<li class="">
						<a href="https://twitter.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path display="none" fill="#1DA1F2" d="M264.812,212.31c0,28.983-23.512,52.502-52.516,52.502H61.706
              			c-29.003,0-52.517-23.519-52.517-52.502V61.706c0-29.005,23.514-52.519,52.517-52.519h150.59
              			c29.004,0,52.516,23.514,52.516,52.519V212.31z"/>
              		<path d="M89.461,241.954c95.868,0,148.289-79.435,148.289-148.298c0-2.252-0.037-4.501-0.153-6.73
              			c10.186-7.351,19.023-16.555,25.988-26.988c-9.331,4.14-19.389,6.938-29.918,8.205c10.763-6.46,19.004-16.669,22.92-28.83
              			c-10.059,5.957-21.231,10.318-33.096,12.663c-9.534-10.142-23.04-16.471-38.048-16.471c-28.778,0-52.1,23.344-52.1,52.1
              			c0,4.091,0.457,8.054,1.335,11.903c-43.306-2.204-81.739-22.933-107.428-54.46c-4.465,7.692-7.056,16.636-7.056,26.178
              			c0,18.079,9.19,34.038,23.202,43.391c-8.546-0.269-16.6-2.611-23.613-6.527c-0.013,0.234-0.013,0.443-0.013,0.666
              			c0,25.254,17.974,46.323,41.796,51.092c-4.347,1.185-8.968,1.841-13.716,1.841c-3.363,0-6.623-0.349-9.8-0.962
              			c6.648,20.732,25.887,35.795,48.677,36.218c-17.831,13.987-40.306,22.311-64.729,22.311c-4.195,0-8.334-0.245-12.426-0.729
              			C32.633,233.324,60.022,241.954,89.461,241.954"/>
								</svg>
							</div>
						</a>
					</li>
				
				</ul>
			</div>

			<div class="mg-t20">
				<div class="pd-t20 svg-wh">

					<div id="gmap-btn" class="flx-cl pd-b5 hover-type cursor-point">
						<div class="icon-img-s location">
							<svg viewBox="0 0 97.713 97.713">
								<path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
									c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
									c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
									c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
									C67.542,46.276,59.159,54.659,48.855,54.659z"/>
							</svg>
						</div>
						<span class="hover-with pd-s10">경기도 수원시 영통구 광교중앙로 248번길 95-5 용현법조타워 8층</span>
					</div>
					<div class="pd-b5 hover-type">
						<a href="mailto:banposinbu@naver.com" class="flx-cl">
							<div class="icon-img-s">
								<svg viewBox="0 0 485.211 485.211">
									<path d="M301.393,241.631L464.866,424.56H20.332l163.474-182.928l58.801,51.443L301.393,241.631z M462.174,60.651H23.027
										l219.579,192.142L462.174,60.651z M324.225,221.67l160.986,180.151V80.792L324.225,221.67z M0,80.792v321.029L160.972,221.64
										L0,80.792z"/>
								</svg>
							</div>
							<span class="hover-with pd-s10">richard.choi@ez-office.co.kr</span>
						</a>
					</div>
					<div class="hover-type">
						<a href="tel:02-532-3333" class="flx-cl">
							<div class="icon-img-s">
								<svg viewBox="0 0 477.156 477.156">
									<path d="M475.009,380.316l-2.375-7.156c-5.625-16.719-24.062-34.156-41-38.75l-62.688-17.125c-17-4.625-41.25,1.594-53.688,14.031
										l-22.688,22.688c-82.453-22.28-147.109-86.938-169.359-169.375L145.9,161.94c12.438-12.438,18.656-36.656,14.031-53.656
										l-17.094-62.719c-4.625-16.969-22.094-35.406-38.781-40.969L96.9,2.19c-16.719-5.563-40.563,0.063-53,12.5L9.962,48.659
										C3.899,54.69,0.024,71.94,0.024,72.003c-1.187,107.75,41.063,211.562,117.281,287.781
										c76.031,76.031,179.454,118.219,286.891,117.313c0.562,0,18.312-3.813,24.375-9.845l33.938-33.938
										C474.946,420.878,480.571,397.035,475.009,380.316z"/>
								</svg>
							</div>
							<span class="hover-with pd-s10">070-7709-5512</span>
						</a>
					</div>

					<p class="copyright pd-t40">&copy; Ez Office 2022 all rights reserved<p>
				</div>
			</div>
			
		</div>

		<div class="w40 flx-end flx-itm-r pd-s10 m-hidden">
			<ul id="footer-link" class="mark-list type3 w100">
				<li class="fix-scroll-btn link-item" data-target="section02" data-category="convey">알리는글</li>
				<li class="fix-scroll-btn link-item" data-target="section04" data-category="marriage">사업영역</li>
				<li class="fix-scroll-btn link-item" data-target="section06" data-category="main">CONTACT US</li>
			</ul>
		</div>
	</div>
    <div class="ft-wh in-width mx800 flx-0 pd-b100 pd-s40">
         <div class="">
			 사업자등록번호 357-86-02363 | 통신판매신고 제2023-수원영통-0352호| 대표:최성철 
			 경기도 수원시 영통구 광교중앙로 248번 길 95-5, 8층 802호(하동) | 고객센터: 070-7709-5512 
		 </div>	 
    </div>
    <a ng-click="click()">ClickMe</a> 
	</div>
	<script src='app.js'></script> 
</body>
</html>
