<div>
	<div class="flex_center">
<!--		
		<select class="select_type_1" ng-model="cur_service" ng-change="service_changed(cur_service)">
			<option ng-repeat="service in service_list">{{ service }}</option> 
		</select>
-->		
		<h3>{{ service_name }}_서비스설정</h3>
	</div>   
	<table>
		<tr>`
			<th>SEQ</th>
			<th>ORGANIZATION</th>
			<th>BUSINESS_NUM</th>
			<th>AUTH_STATUS</th>
			<th>ENABLE</th>
		</tr>
		<tr ng-repeat="limit_org in limit_codeFApi">
			<td>{{ $index + 1 }}</td> 
			<td>{{ limit_org.orgName }}</td> 
			<td>{{ limit_org['사업자번호'] }}</td> 
			<td>{{ limit_org['인증년월'] }}</td> 
			<td>
               <input type='checkbox' ng-checked="limit_org['enabled'] == 1 || limit_org['enabled'] == true" ng-model="limit_org['enabled']" />
			</td> 
		</tr>
	</table>
	<div class="flx-end w50">
		<button class="button_type_1 w20 mg-t40" ng-click="button_click()">확인</button>
		<my-domodal modal="modal"></my-domodal> 
	</div>
</div>
