<form class="w80 my-5">
	<div class="row">
		<div class="col-md-2">
			<label class="form-check-label">
				App 여부
			<input type="CHECKBOX"  class="form-check-input" ng-model="is_app" disabled />
			</label>		 
		</div>
		<div class="col-md-2">
			<label class="text-end">
				App/Group 이름: 
			</label>		 
		</div>	
		<div class="col-md-3">
			<input type="text" class="form-control w100 text-center" ng-model="appTitle" disabled />
		</div>	
		<div class="col-md-2">
			<label class="text-end">
				권한 Level: 
			</label>		 
		</div>	
		<div class="col-md-2">
			<input type="number" class="form-control text-center"  ng-model="appLevel" min="-1" max="5" step="1" />
		</div>	
	</div>	
	<div class="flx-cc flx-col w100" ng-if="is_app">
		<div class="flx-cc w100">
			<label class="w100 form-check-label">Group 선택 :
				<select class="form-control select_01 fl-r w50" ng-model="groupSelected" size="1">
					<option ng-repeat="group in groups_list">{{ group }}</option>
				</select>	
			</label>
		</div>
		<label class="form-check-label">
			Share ID 리스트 편집<input type="CHECKBOX" class="form-check-input" ng-model="app_share_enable" />
		</label>		 
		<div class="flx-cc w100">
			<div ng-if="app_share_enable" class="flx-col w100">
				<i class="box box-question"></i><input type="text" ng-model="idSearch" />
				<button class="btn btn-secondary" ng-click="share_id_add()">추가</button>
				<select class="form-control select_02 w100" ng-model="ids.idSelected" multiple size="10">
					<option ng-repeat="id in ids_list | filter: idSearch ">{{ id }}</option>
				</select>	
			</div>	 
			<div class="flx-col w100">
				<i class="box box-question"></i><input type="text" ng-model="curIdSearch" />
				<button class="btn btn-secondary" ng-click="share_id_remove()">삭제</button>
				<select class="form-control select_02 w100" ng-model="ids.curIdSelected" multiple size="10" >
					<option ng-repeat="id in curIds_list | filter: curIdSearch ">{{ id }}</option>
				</select>	
			</div>	 
		</div>
		<label>
			외부Link<input type="CHECKBOX" ng-model="extrn_enable" />
			<div ng-if="extrn_enable">
				<input class="form-control w50" ype="text" ng-model="extrn_url" placeholder="http://%host%/herems/ezof_editor"/>
				<select class="form-control  select_01">
					<option>_self</option>
					<option>_blank</option> 
				</select> 	 
			</div>
		</label>		 
	</div>
	<button class="btn btn-secondary w30">저장</button> 
</form>  	   
