<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<script src="./angular.min.js"></script>
<script src="./angular-route.min.js"></script>
<script>
    var app;
    // app = angular.module('myApp',['ngRoute', 'myApp.controllers']);
    app = angular.module('myApp',['ngRoute']);
    app.controller('controller_1',['$scope', '$http'
    ,function($scope, $http){
          $http.get('example.json').then(function(response){
            //  var myData = JSON.parse(response);
             $scope.get_json = response.data; 
          });
    }]);
    // angular.module('myApp.controllers',[]).controller('controller_2',['$scope', '$http'
    app.controller('controller_2',['$scope', '$http'
    ,function($scope, $http){
         $scope.name ="RICHARD"; 
    }]);
</script>
<title>Title</title>
</head>
<body>
<h1>hello</h1>
<div ng-controller="controller_2" ng-model="name">{{name}}</div>
<div ng-controller="controller_1" ng-model="get_json">
    {{get_json | json }}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>