<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>T02</title>
</head>
<body ng-app='myApp'>
	<div ng-controller='myAppCtrl'>
	<input ng-model='content'  parse-content />
	<parse-content>
	     <ctrl-test></ctrl-test>
	</parse-content> 	
	<div parse-content>
	     <div ctrl-test><button>Test</button></div>
	</div> 	
	</div>
	 <div screen>
        <div component>
            <div widget>
                <button ng-click="widgetIt()">Woo Hoo</button>
            </div>
        </div>
    </div>
	<script src='\lib\angular\angular.min.js'></script> 
	<script>
		angular.module('myApp', [])
        .controller('myAppCtrl',function(){
			this.init = function(){
				console.log('myAppCtrl init') 
			}
		})
        .directive('parseContent', function($filter){
			return{
				restrict:'EA',
				require: '?ngModel',  // controller 없으면 null return 한다.
		//		transclude: true, 
	 //			template:'<div>1234<input type="text" ng-model="content"/></div>',
				controller: function($scope){
						this.init = function(){
							console.log('myAppCtrl init') 
						}
                        $scope.content ='1234' 
				},
				link: link 
			}
			function link( scope, elem , attrs , ngModel , transclude ){
//				scope.content = 'Init value' 
				if( ngModel != null ){
					ngModel.$parsers.push( function( value ){
						console.log( 'current', value );
						console.log( 'pre', ngModel.$modelValue ) 
						/*					
					   let nwValue =  $filter('number')(value,2 )
					   ngModel.$setViewValue( nwValue )
					   ngModel.$render();
					   return nwValue ;
						 */					   
					})
					ngModel.$viewChangeListeners.push( function(){
						console.log( 'viewChange', ngModel.$viewValue );
					})
					ngModel.$formatters.push( function( value ){
						return $filter('number')(value);
					})
				}
			}
		})
        .directive('ctrlTest', function(){
			  return {
				  restrict: 'EA',
				  require:'parseContent',
	//			  template:'<div>This is ctrl-test</div>', 
				  link: function( scope, elem , attrs , ctrl ){
					  ctrl.init(); 
				  }
			  }
		})
	.directive('screen', function() {
		return {
			scope: true,
			controller: function() {
				this.doSomethingScreeny = function() {
					alert("screeny!");
				}
			}
		}
	})
	.directive('component', function() {
		return {
			scope: true,
			require: '^screen',
			controller: function($scope) {
				this.componentFunction = function() {
					$scope.screenCtrl.doSomethingScreeny();
				}
			},
			link: function(scope, element, attrs, screenCtrl) {
				scope.screenCtrl = screenCtrl
			}
		}
	})
	.directive('widget', function() {
		return {
			scope: true,
			require: "^component",
			link: function(scope, element, attrs, componentCtrl) {
				scope.widgetIt = function() {
					componentCtrl.componentFunction();
				};
			}
		}
	})
	</script>	
</body>
</html>
