
$main-background: #9a89c6 ;  
$main-color-dark1: #1F618D ;
$main-color-dark2: #1B4F72 ;
$main-color-light1: #D4E6F1 ;

@import "comm.scss" ;
@import "banpo_church.scss" ;
@import "style_2023_07.scss" ;
