alembic==1.13.2
applicationinsights==0.11.10
backports.csv==1.0.7
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
cli-helpers==0.2.3
click==8.1.7
colorama==0.4.6
configobj==5.0.8
crypto==1.4.1
enum34==1.1.10
flask==3.0.3
Flask-Migrate==2.6.0
Flask-Script==2.0.6
flask-sqlalchemy==3.1.1
future==1.0.0
greenlet==3.0.3
humanize==4.10.0
idna==3.7
importlib-metadata==8.0.0
importlib-resources==6.4.0
itsdangerous==2.2.0
jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
Naked==0.1.32
prompt-toolkit==2.0.10
pygments==2.18.0
pyodbc==5.1.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.32.3
shellescape==3.8.1
six==1.16.0
SQLAlchemy==2.0.31
sqlparse==0.2.4
terminaltables==3.1.10
typing-extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
werkzeug==3.0.3
zipp==3.19.2
