extends layout

block content
  h1= title
  p Welcome to #{title}
  div 
  input#FindAll( type='button' value='FindAll' name='FindAll')
  div
  textarea#RESP( name='resp1' rows='20' cols='150') 
  script(type='text/javascript' src='./script.js')

