		<nav id='sidebar' class='active'>
				<br>
				<div class='Sidebar-header'>
                    		<ul class='list-unstyled components' ng-if='cur_user_info.level < 1 && frame_type != "AppEdit"'>
					<h2>Quick LInk</h2> 	
					<li><a href='/db_edit/exists?my_collection=AppEdit&tbl_name=collection_list' target='_self'>[# collectionCon Edit]</a></li>
					<li><a href='/db_edit/exists?my_collection=DbEdit&tbl_name=apps_list' target='_self'>[# appConf_____Edit]</a></li>
					<li ng-if="frame_type != 'DbEdit'" ><a ng-href='/db_edit/exists?my_collection=DbEdit&tbl_name={{ app_cur.name }}' target='_self'>[# appDesign_____Edit]</a></li>
					<li ng-if="frame_type == 'DbEdit'" ><a '#'  ng-click='history_back()'>[# appWorkspace____back]</a></li>
					</ul>
				</div>
				<div ng-switch='frame_type'>
				 	<div ng-switch-when='AppEdit'>
			        	<ul class='list-unstyled components'> 
						<li ng-if='cur_user_info.level < 1'>`	
							<p>	
						        <a ng-click='openApp_1(app_server_list)' ng-if='cur_server != "ezoffice"'><h4>관리회사</h4></a>
							<a ng-click='openApp(app_collection_list)'><h3>Collection List</h3></a>
						        <a ng-click='openApp(app_apps_list)'><h4>Apps list</h4></a>
							</p>
						 </li>	
						 <li class='active' ><a ng-click='newAppByClick()'>#[NEW App]</a></li>	
						 </ul> 
				     </div>
				     <div ng-switch-when='DbEdit'>
			        	<ul class='list-unstyled components'> 
						<li ng-if='cur_user_info.level < 1'>	
							<p><a ng-click='openApp(app_collection_list)'><h3>Collection List</h3></a>
						       <a ng-click='openApp(app_apps_list)'><h4>Apps list</h4></a></p>
						 </li>	
						 <li class='active' ><a ng-click='newAppByClick()'>#[NEW App]</a></li>	
						 <li class='' ng-repeat='p_item in apps_list_parent track by $index'>
							 <a ng-href="{{ '#homeSubmenu'+ p_item.name }}" ng-click='openParent(p_item)' data-toggle='collapse' aria-expanded='false' class='dropdown-toogle'>{{ p_item.title }}</a> 
							 <ul class='collapse list-unstyled' id='homeSubmenu' ng-attr-id="{{ 'homeSubmenu' + p_item.name }}" > 
								 <li ng-repeat='item in apps_list track by $index'>
									 <a href='#' ng-click='openApp(item)' ng-show='p_item.name == item.parent &&  item.level == 2' >{{ item.title }}</a> 
								 </li>	 
							 </ul>
						 </li>	 
						 </ul> 
				     </div>
				     <div ng-switch-when='workspace'>
						<ul class='list-unstyled components'> 
						 <li class='active' ng-repeat='item in apps_list track by $index'>
							 <a href='#homeSubmenu' data-toggle='collapse' aria-expanded='false' class='dropdown-toogle' ng-click='openApp( item )'>{{ item.title }}</a> 
						 </li>	 
						</ul> 
                     </div>
			            </div>
			</nav> 	
