.container {
	position: absolute;
	left: 0;
}
toggle-sidebar{
	position: absolute;
	top: 0; 
}
.container.active{
	margin-left: 300px 
}
.wrapper {
    display: flex;
	width: 100%; 
    align-items: stretch;
}
#appWrapper{
/*	
	height: auto;
	min-height: 100%;
	padding-bottom: 38px;
*/	
}
#sidebar {
    min-width: 300px;
    max-width: 300px;
	min-height: 800px;
/*	overflow: scroll; */
}

#sidebar.active {
    margin-left: -320px;
}
#content {
	width:100%;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #9a89c6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4c93a;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #57438c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #17a2b8;
    background: #2b2146;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9a89c6;
}
.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}
