<!DOCTYPE html>
<html ng-app='ezch_tbl_editor'>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel='stylesheet' href='../../lib/spreadjs/15.2.2/css/gc.spread.sheets.excel2016colorful.15.2.2.css' />
		<script src='../../lib/jquery/dist/jquery.min.js'></script> 
		<script src='../../lib/spreadjs/15.2.2/scripts/gc.spread.sheets.all.15.2.2.min.js'></script>
<!--
		<link rel='stylesheet' href='../../resource/css/db_edit_style.css' />
-->
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
		<script src='../../lib/spreadjs/15.2.2/scripts/interop/gc.spread.excelio.15.2.2.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/comm.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/comm-mobile.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/style-comm.css" media="all">
    <link rel="stylesheet" type="text/css" href="/resource/homepage/css/style-comm-mobile.css" media="all">
		<style>
				.btn-secondary{
					background-color: rgba( 120, 20 , 140, 1 );
					border-color: rgba( 60,10,70,1 );
				}
			    .btn-secondary_sheet{
					background-color: #BED7EE ; 		
					border-color: rgba( 60,10,70,1 );
				}
			   .btn-secondary:hover, .btn-secondary:focus{
				   background-color: rgba( 230, 140 , 255, 1 );
			   }
			   .float_full_icon{
				   z-index: 104;
				   position: absolute;
				   top: 5%;
				   left: 10%;
			   }
			   .fit_size{
				   pointer-events: none;
				   width: 120px;
				   transform: scale(9) translateY(11px);
			   }
			   .nav-link:hover{
				   font-size: 18px;
				   color: orange;
			   }
			   .pointer_events_none{
				   pointer-events: none;
			   }
				#modalWrap {
				  display: none ;
				  position: fixed ; /* Stay in place */
				  z-index: 1; /* Sit on top */
				  padding-top: 500px; /*  Location of the box */
				  left: 50%;
				  top: 50%;
				  transform: translate( -50%, -50% );	  
				  width: 100%; /* Full width */
				  height: 100%; /* Full height */
				  overflow: auto; /* Enable scroll if needed */
				  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
				}
				#modalBody {
				  width: 500px;
				  height: 300px;
				  padding: 30px 30px;
				  margin: 0 auto;
				  border: 1px solid #777;
				  color : #fff ;
				  background-color: lavender;
				}
				#closeBtn {
				  float:right;
				  font-weight: bold;
				  color: #777;
				  font-size:25px;
				  cursor: pointer;
				}
				.loader {
					position: relative;
					left: 50% ;
					transform: translateX(-30%);
					width: 48px;
					height: 48px;
					border: 5px solid #FFF;
					border-bottom-color: #FF3D00;
					border-radius: 50%;
					display: inline-block;
					box-sizing: border-box;
					animation: rotation 1s linear infinite;
				}
				@keyframes rotation {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
		</style> 

	</head>
	<body>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header_menu">
				<div class="container">
					<a class="navbar-brand" href="#">
<!--						
						<img class="fit_size" src="/resource/homepage/img/EZoffice_title.svg" />
-->						
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 8h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2Zm18 8H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Zm0-5H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Z"/></svg>
					즐겨찾기메뉴
					</a>
					<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
						<ul class="navbar-nav mb-2 mb-lg-0 d-flex">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" ng-href='{{ hrefs.tbl_maker }}'>Table 생성기</a>
							</li>
							<li>
							</li>		
						</ul>
						<form class="d-flex">
							<button class='btn  btn-secondary btn-outline-secondary btn-block text-white'><a class="text-white" href='javascript:closeWindow()'>
									<svg  class="pointer_events_none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="currentColor" d="M469.3 469.3H42.7V42.7H256L298.7 0h-256C19.1 0 0 19.1 0 42.7v426.7C0 492.9 19.1 512 42.7 512h426.7c23.6 0 42.7-19.1 42.7-42.7V320l-42.7 42.7v106.6zm-384-42.6C149.1 255.7 234.7 256 362.7 256v85.3L512 192L362.7 42.7V128C85.3 128 85.1 341.1 85.3 426.7z"/></svg>
								</a></button>
						</form>
					</div>
				</div>
			</nav>
			<div class='row mx-5 my-3'>
				<div class='col-md-2'>
					<div class='input-group  mx-0 px-0'>
						<label class="input-group-text" for="inputGroupSelect01">DB</label>
						<select id="user_db_list" class="form-select" id="inputGroupSelect01" ng-disabled="isDbSelectionDisabled">
						</select>
					</div>
				</div> 
				<div class='col-md-1'>
					<div id="full_screen"  class="btn btn-secondary">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 13.6V21H3.6a.6.6 0 0 1-.6-.6V13h7.4a.6.6 0 0 1 .6.6Zm0 7.4h3M3 13v-3m3-7H3.6a.6.6 0 0 0-.6.6V6m11-3h-4m11 7v4M18 3h2.4a.6.6 0 0 1 .6.6V6m-3 15h2.4a.6.6 0 0 0 .6-.6V18m-10-8h3v3"/></svg>	
					</div>
				</div>
				<div class='col-auto'>
					<div class="input-group">
						<button id="TblView_btn" class="btn btn-secondary btn-sm">TblView</button>
						<button id="TblList_btn" class="btn btn-secondary btn-sm">TblList</button>
					</div>	
				</div>	
				<div class='col-md-2'>
					<h6><span class='badge bg-secondary mx-3'>테이블명</span>TB_Admin</h6>
				</div>
				<div class='col-md-5'>
					<div class="input-group">
						<span class="input-group-text">Configuration</span>
						<input type="text" id="favorite_name" class="form-control"  value=""/>
						<button class="btn btn-secondary btn-sm">즐겨찾기저장</button></h6>
					</div>
				</div>
			</div>	
		</div>
		<nav class='navbar navbar-expand-lg navbar-light bg-light mx-5' id="part_menu">
			<div id="TblView_menu" class="mb-3">
				<div class='row'>
					<div class='col-auto'>
						<div class="input-group">
							<button class="btn btn-secondary btn-sm">업데이트</button>
							<button class="btn btn-secondary btn-sm">잠금해제</button>
							<button class="btn btn-secondary btn-sm">선택필터적용</button>
						</div>
					</div>
					<div class='col-auto'>
						<div class="form-check">
							<input id="multi-input" class="form-check-input mt-3" type="checkbox" value="" />
							<label class="form-control" for="multi-input" >복수입력</label>
						</div>
					</div>
					<div class='col-auto'>
						<div class="input-group">
							<button class="btn btn-secondary btn-sm">데이터입력</button>
							<button class="btn btn-secondary btn-sm">대량 데이터 업로드</button>
						</div>	
					</div>	
				</div>	
				<div class='row'>
					<div class='col-md-7'>
						<div class="form-floating">
							<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height:150px;"></textarea>
							<label for="floatingTextarea">SQL문</label>
						</div>
					</div>
					<div class="col-auto">
						<button class="btn btn-secondary btn-sm">SQL실행</button>
					</div>	
				</div>
			</div> 	
			<div id="TblList_menu" class="mb-3">
				<div class='row'>
					<div class='col-auto'>
						<div class="input-group">
							<button class="btn btn-secondary btn-sm">NOT NULL만 보이기</button>
							<button class="btn btn-secondary btn-sm">모든컬럼 보이기</button>
							<button class="btn btn-secondary btn-sm">모든컬럼 숨기기</button>
						</div>
					</div>
					<div class="col-auto">
						<button class="btn btn-secondary btn-sm">View전용 컬럼추가</button>
					</div>	
					<div class="col-auto">
						<button class="btn btn-secondary btn-sm">TblView생성</button>
					</div>	
				</div>
			</div>	
		</nav>
		<div id='content'>
			<div id='ss' style='width:100%; height:800px; border: 1px solid gray;' ></div>
		</div>				
	</div>	
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasExampleLabel">단축메뉴</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="">
			<button class="btn btn-secondary" type="button" id="dropdownMenuButton0">				
				즐겨찾기 
			</button>
			<ul class="list-group" aria-labelledby="">
<!--				
				<li class="list-group-item"  ng-repeat="edit_list in edit_favorite_lists">
					<span ng-click="edit_item_favorite_remove_click( edit_list.configName, $event )" >
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.729 4.271a1 1 0 0 0-1.414-.004a1.004 1.004 0 0 0-.225.355c-.832 1.736-1.748 2.715-2.904 3.293C10.889 8.555 9.4 9 7 9a1.006 1.006 0 0 0-.923.617a1.001 1.001 0 0 0 .217 1.09l3.243 3.243L5 20l6.05-4.537l3.242 3.242a.975.975 0 0 0 .326.217c.122.051.252.078.382.078s.26-.027.382-.078A.996.996 0 0 0 16 18c0-2.4.444-3.889 1.083-5.166c.577-1.156 1.556-2.072 3.293-2.904a.983.983 0 0 0 .354-.225a1 1 0 0 0-.004-1.414z"/></svg>
					</span> 
					<a ng-click="edit_list_click( edit_list.configName , $event )" data-toggle="tooltip" title="Ctrl 키와 클릭시 새창열기">{{ edit_list.configName }}</a>
				</li>  
-->				
			</ul>
		</div>
		<div class="dropdown mt-3">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
				편집기리스트 	
			</button>
			<ul id = "favorite_list" class="dropdown-menu list-group" aria-labelledby="dropdownMenuButton">
				<div class="dropdown-divider"></div>
			</ul>
		</div>
	</div>
</div>
<div class="bg-clr-0">
	<div class="ft-wh in-width mx800 flx-0 pd-t100 pd-b20 pd-s40">

		<div class="inst-box w60 m-w100">
			<a href="/" class="">
				<div class="mx170 notc pd-b20">
					<div class="logo wh">
					</div>
				</div>
			</a>
			<div class="">
				<ul class="flx-0 svg-wh">

					<li class="pd-r20">
						<a href="https://www.kakaocorp.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M138.022,5.288h-2.048c-64.876,0-117.478,52.59-117.478,117.48v2.975c0,44.635,24.896,83.465,61.563,103.35
									c-0.868,4.256-3.662,10.932-7.976,16.732c-4.973,6.686-11.242,14.473-14.127,17.543c-2.864,3.078-0.262,4.477,8.366,2.26
									c8.631-2.26,26.733-9.215,40.274-17.02c6.074-3.504,9.622-5.514,12.132-6.795c5.639,0.838,11.363,1.414,17.244,1.414h2.048
									c64.873,0,117.482-52.605,117.482-117.484v-2.975C255.505,57.878,202.896,5.288,138.022,5.288z M75.181,120.798h25.184v24.947
									H75.181c-4.034,0-7.436-1.133-10.111-3.387c-2.654-2.207-3.946-5.211-3.946-9.186c0-3.813,1.31-6.752,4.009-8.988
									C67.885,121.901,71.168,120.798,75.181,120.798z M193.389,131.942c-7.604,9.26-18.798,13.957-33.268,13.957h-17.045v-24.963h9.362
									c6.995,0,12.232-1.84,16.021-5.623c3.5-3.535,5.273-8.371,5.273-14.43c-0.306-5.535-2.297-10.005-5.918-13.281
									c-3.622-3.244-8.245-4.895-13.744-4.895h-18.242v93.123c0,4.58-1.291,8.473-3.843,11.588c-2.531,3.076-5.967,4.57-10.49,4.57
									c-4.49,0-7.965-1.508-10.623-4.6c-2.672-3.172-3.971-6.949-3.971-11.559V75.391c0-5.624,1.531-9.901,4.678-13.073
									c3.093-3.123,7.498-4.705,13.096-4.705h31.408c14.808,0,26.094,3.695,33.547,10.984c2.746,2.627,5.208,5.74,7.31,9.253
									c2.113,3.52,3.747,7.28,4.855,11.167c1.094,3.91,1.646,7.855,1.646,11.728C203.44,113.509,200.062,123.999,193.389,131.942z"/>
								</svg>
							</div>
						</a>
					</li>

					<li class="pd-r20">
						<a href="https://www.instagram.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M186.188,8.842H87.814C44.193,8.842,8.838,44.2,8.838,87.824v98.367c0,43.611,35.355,78.964,78.977,78.964h98.374
										c43.619,0,78.97-35.353,78.97-78.964V87.824C265.158,44.2,229.808,8.842,186.188,8.842z M240.557,176.75
										c0,35.249-28.579,63.808-63.808,63.808H97.253c-35.248,0-63.82-28.559-63.82-63.808V97.255c0-35.233,28.572-63.817,63.82-63.817
										h79.496c35.229,0,63.808,28.583,63.808,63.817V176.75z"/>
									<path d="M140.437,69.935c-37.296,0-67.523,30.219-67.523,67.509c0,37.277,30.227,67.514,67.523,67.514
										c37.284,0,67.513-30.236,67.513-67.514C207.949,100.154,177.721,69.935,140.437,69.935z M140.437,178.062
										c-22.45,0-40.628-18.19-40.628-40.617c0-22.448,18.178-40.618,40.628-40.618c22.428,0,40.616,18.17,40.616,40.618
										C181.053,159.871,162.864,178.062,140.437,178.062z"/>
									<path d="M220.445,68.883c0,9.482-7.702,17.165-17.174,17.165c-9.481,0-17.161-7.683-17.161-17.165
										c0-9.48,7.68-17.178,17.161-17.178C212.743,51.706,220.445,59.403,220.445,68.883z"/>
								</svg>
							</div>
						</a>
					</li>
					
					<li class="pd-r20">
						<a href="https://www.facebook.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path d="M198.421,52.077h27.199V9.324h-33.777l0,0h-6.985c0,0-25.626-0.634-41.966,20.6c0,0-11.127,10.491-11.297,41.211h-0.008
									V103.2h-40.29v45.396h40.29v117.273h46.468V148.596h39.974l5.572-45.396h-45.546V71.135h-0.012
									C178.156,67.555,179.75,51.754,198.421,52.077z"/>
								</svg>
							</div>
						</a>
					</li>
					
					<li class="">
						<a href="https://twitter.com/" target="_blank">
							<div class="icon-img hover-type">
								<svg viewBox="0 0 274 274">
									<path display="none" fill="#1DA1F2" d="M264.812,212.31c0,28.983-23.512,52.502-52.516,52.502H61.706
              			c-29.003,0-52.517-23.519-52.517-52.502V61.706c0-29.005,23.514-52.519,52.517-52.519h150.59
              			c29.004,0,52.516,23.514,52.516,52.519V212.31z"/>
              		<path d="M89.461,241.954c95.868,0,148.289-79.435,148.289-148.298c0-2.252-0.037-4.501-0.153-6.73
              			c10.186-7.351,19.023-16.555,25.988-26.988c-9.331,4.14-19.389,6.938-29.918,8.205c10.763-6.46,19.004-16.669,22.92-28.83
              			c-10.059,5.957-21.231,10.318-33.096,12.663c-9.534-10.142-23.04-16.471-38.048-16.471c-28.778,0-52.1,23.344-52.1,52.1
              			c0,4.091,0.457,8.054,1.335,11.903c-43.306-2.204-81.739-22.933-107.428-54.46c-4.465,7.692-7.056,16.636-7.056,26.178
              			c0,18.079,9.19,34.038,23.202,43.391c-8.546-0.269-16.6-2.611-23.613-6.527c-0.013,0.234-0.013,0.443-0.013,0.666
              			c0,25.254,17.974,46.323,41.796,51.092c-4.347,1.185-8.968,1.841-13.716,1.841c-3.363,0-6.623-0.349-9.8-0.962
              			c6.648,20.732,25.887,35.795,48.677,36.218c-17.831,13.987-40.306,22.311-64.729,22.311c-4.195,0-8.334-0.245-12.426-0.729
              			C32.633,233.324,60.022,241.954,89.461,241.954"/>
								</svg>
							</div>
						</a>
					</li>
				
				</ul>
			</div>

			<div class="mg-t20">
				<div class="pd-t20 svg-wh">

					<div id="gmap-btn" class="flx-cl pd-b5 hover-type cursor-point">
						<div class="icon-img-s location">
							<svg viewBox="0 0 97.713 97.713">
								<path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
									c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
									c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
									c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
									C67.542,46.276,59.159,54.659,48.855,54.659z"/>
							</svg>
						</div>
						<span class="hover-with pd-s10">경기도 수원시 영통구 광교중앙로 248번길 95-5 용현법조타워 8층</span>
					</div>
					<div class="pd-b5 hover-type">
						<a href="mailto:banposinbu@naver.com" class="flx-cl">
							<div class="icon-img-s">
								<svg viewBox="0 0 485.211 485.211">
									<path d="M301.393,241.631L464.866,424.56H20.332l163.474-182.928l58.801,51.443L301.393,241.631z M462.174,60.651H23.027
										l219.579,192.142L462.174,60.651z M324.225,221.67l160.986,180.151V80.792L324.225,221.67z M0,80.792v321.029L160.972,221.64
										L0,80.792z"/>
								</svg>
							</div>
							<span class="hover-with pd-s10">richard.choi@ez-office.co.kr</span>
						</a>
					</div>
					<div class="hover-type">
						<a href="tel:02-532-3333" class="flx-cl">
							<div class="icon-img-s">
								<svg viewBox="0 0 477.156 477.156">
									<path d="M475.009,380.316l-2.375-7.156c-5.625-16.719-24.062-34.156-41-38.75l-62.688-17.125c-17-4.625-41.25,1.594-53.688,14.031
										l-22.688,22.688c-82.453-22.28-147.109-86.938-169.359-169.375L145.9,161.94c12.438-12.438,18.656-36.656,14.031-53.656
										l-17.094-62.719c-4.625-16.969-22.094-35.406-38.781-40.969L96.9,2.19c-16.719-5.563-40.563,0.063-53,12.5L9.962,48.659
										C3.899,54.69,0.024,71.94,0.024,72.003c-1.187,107.75,41.063,211.562,117.281,287.781
										c76.031,76.031,179.454,118.219,286.891,117.313c0.562,0,18.312-3.813,24.375-9.845l33.938-33.938
										C474.946,420.878,480.571,397.035,475.009,380.316z"/>
								</svg>
							</div>
							<span class="hover-with pd-s10">070-7709-5512</span>
						</a>
					</div>

					<p class="copyright pd-t40">&copy; Ez Office 2022 all rights reserved<p>
				</div>
			</div>
			
		</div>

		<div class="w40 flx-end flx-itm-r pd-s10 m-hidden">
			<ul id="footer-link" class="mark-list type3 w100">
				<li class="fix-scroll-btn link-item" data-target="section02" data-category="convey">알리는글</li>
				<li class="fix-scroll-btn link-item" data-target="section04" data-category="marriage">사업영역</li>
				<li class="fix-scroll-btn link-item" data-target="section06" data-category="main">CONTACT US</li>
			</ul>
		</div>
	</div>
    <div class="ft-wh in-width mx800 flx-0 pd-b100 pd-s40">
         <div class="">
			 사업자등록번호 357-86-02363 | 통신판매신고 제2023-수원영통-0352호| 대표:최성철 
			 경기도 수원시 영통구 광교중앙로 248번 길 95-5, 8층 802호(하동) | 고객센터: 070-7709-5512 
		 </div>	 
    </div>

	</body>	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	
	<script src="app.js"></script> 
</html>
