<div>
  <a href="/"><button class="btn btn-secondary r-2 mt-4">LogOut</button></a>   
</div>
<br>
<br>
<br>
<br>
<div class='w-100'>
	<form class='d-flex flex-column justify-contents-center w-100'>
	<div class='form-group row mb-3'>
		<div class='col-md-4'></div>
		<div class='col-md-1'>
			<h5 class='text-center'>Server</h5> 
		</div> 	
		<div class='col-md-1'>
			<h5 class='text-center' >회사명</h5>
		</div>
		<div class='col-md-2'>
			<h5 class='text-center'>이동</h5>
		</div>
	</div>	
	<div class='form-group row mb-3' ng-show='1' ng-repeat='company in login_companies'>
		<div class='col-md-4'></div>
		<div class='col-md-1'>
			{{ company.server_name }}
		</div> 	
		<div class='col-md-1'>{{ company.name }}</div>
		<div class='col-md-2'>
			<BUTTON class='btn btn-secondary btn-block w-100' ng-click='go( company )'>GO</BUTTON>	
		</div>
	</div>
	</form>
</div>	
