<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Collection Edit</title>
	<link rel="stylesheet" href="/resource/css/test_controls.css">
</head>
<body>
	<main ng-controller='myAppCtrl'>
	   <form class="flx-cl flx-col">
	     <label>
			App/Group 이름: <input type="text" ng-model="appTitle" />
	     </label>		 
	     <label>
			권한 Level: <input type="number" ng-model="appLevel" min="-1" max="5" step="1" />
	     </label>		 
		 <label>
				 App 여부:<input type="CHECKBOX" ng-model="is_app" />
		 </label>		 
		 <div class="flx-cc flx-col" ng-if="is_app">
			 <div class="flx-cc">
				 <label>Group 선택 :
				 <div>
					 <select class="select_01" ng-model="groupSelected" size="1">
						 <option ng-repeat="group in groups_list">{{ group }}</option>
					 </select>	
				 </div>
				 </label>
			 </div>
			  <label>
					 Share ID 리스트 편집: <input type="CHECKBOX" ng-model="app_share_enable" />
			  </label>		 
				 <div class="flx-cc">
					 <div ng-if="app_share_enable">
						 <i class="box box-question"></i><input type="text" ng-model="idSearch" />
						 <button ng-click="share_id_add()">추가</button>
						 <select class="select_02" ng-model="ids.idSelected" multiple size="10">
							 <option ng-repeat="id in ids_list | filter: idSearch ">{{ id }}</option>
						 </select>	
					 </div>	 
					 <div>
						 <i class="box box-question"></i><input type="text" ng-model="curIdSearch" />
						 <button ng-click="share_id_remove()">삭제</button>
						 <select class="select_02" ng-model="ids.curIdSelected" multiple size="10" >
							 <option ng-repeat="id in curIds_list | filter: curIdSearch ">{{ id }}</option>
						 </select>	
					 </div>	 
			 </div>
	     <label>
			 외부Link<input type="CHECKBOX" ng-model="extrn_enable" />
			 <div ng-if="extrn_enable">
				 <input type="text" ng-model="extrn_url" />
				 <select class="select_01">
					 <option>_self</option>
					 <option>_blank</option> 
				 </select> 	 
			 </div>
	     </label>		 
		 </div>
		 <button>저장</button> 
	   </form>  	   
	</main>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script>
	angular.module('myApp',['ngCookies'])
    .config( function($httpProvider){
		$httpProvider.defaults.headers.delete = { "Content-Type": "application/json;charset=utf-8" };
	})
	.controller('myAppCtrl', function($scope, $http, $cookies ){
		$scope.appTitle =  'main' ;
		$scope.is_app = true; 
		$scope.app_share_enable = false; 
		$scope.extrn_enable = false;  
		$scope.ids =  { idSelected : null , curIdSelected : null } ;
		let user_DB = $cookies.get('user_DB');  
		let appName = 'ezct_account' ;
		let appInfo 
		$http.get(`http://localhost/hades/app/info/${ user_DB }/${ appName }`).then((response)=>{
			appInfo = response.data.DATA 
			$scope.appTitle = appInfo.title 
			$scope.groupSelected = appInfo.group_name;
			$scope.appLevel = appInfo.level ;
			if( appInfo.url != null )$scope.extrn_enable = true;
		})
		$scope.share_id_add = async ()=>{
			alert( $scope.ids.idSelected )
			for( id of $scope.ids.idSelected ){
				if( !$scope.curIds_list.includes( id )){
					await $http({ method:'POST' , url:`http://localhost/hades/app/assign/${ user_DB }` , data: { appName , user_id: id  }})
					$scope.curIds_list.push( id )
				}
			}
		   $scope.$apply() 
		}
		$scope.share_id_remove = async ()=>{
			alert( $scope.ids.curIdSelected )
			for( id of $scope.ids.curIdSelected ){
					await $http({ method:'DELETE' , url:`http://localhost/hades/app/assign/${ user_DB }` , data: { appName , user_id: id  }})
			}
			$scope.curIds_list = $scope.curIds_list.filter((el) =>!$scope.ids.curIdSelected.includes(el));
			$scope.$apply() 			
		}
		// $cookies : user_DB , user , org_name  
		// server_name/org_name/user_id    
		$http.get(`http://localhost/hades/app/group_list/${ user_DB }`).then(( response )=>{ 
			if( response.data.STATUS == -1 ){
				alert( response.data.ERRORMESSAGE )
				return -1;
			}
			$scope.groups_list = response.data.DATA 
		}).catch(( err)=>{
			console.log( err );
			$scope.groups_list =[
				'default',
			]
		})
		$http.get(`http://localhost/hades/app/assign/${ user_DB }/${ appName }`).then(( response )=>{ 
			if( response.data.STATUS == -1 ){
				alert( response.data.ERRORMESSAGE )
				return -1;
			}
			$scope.curIds_list = response.data.DATA 

		}).catch(( err)=>{
			$scope.curIds_list = [
			]
		})
		//		 $http({ method: 'GET',url:'http://127.0.0.1/hades/ids_list',  withCredentials: true }).then(( response )=>{ 
		$http({ method: 'GET',url:`http://127.0.0.1/hades/ids_list/${ user_DB }`}).then(( response )=>{ 
			if( response.data.STATUS == -1 ){
				alert( response.data.ERRORMESSAGE )
				return -1;
			}
			$scope.ids_list = response.data.DATA 

		}).catch(( err)=>{
			$scope.ids_list = [
				'error@error.com',
				'hades@problem.com' 
			]
		})
})
</script> 	
</body>
</html>
