  <DIV class='justify-content-center'>                                                                
	<DIV><h3>TBL name: {{ tbl_name }} </h3></DIV>                                                    
	<form>                                                                                           
	<DIV class='form-group row'>                                                                     
		<label for='cmdInput' class='text-right col-md-2'>CmdInput</label>                           
        <input type='TEXT' class='col-md-4 form-control' id='cmdInput' ng-model='cmdInput'>          
		<button class='btn btn-primary col-md-4 form-control' ng-click='execCmd()'>ExecCmd</button>  
		</DIV>                                                                                       
    </form>                                                                                          
	</DIV> 