  <br>
	<link rel="stylesheet" type="text/css" href="/ezworks/sub_app/buynsell/parts/css/styles.css" /> 
	 <a href="#" Id = "autofilter" class="myButton noFilter s0 s1 s5 s6 h2 h3 h4" ng-click='filter()'>자동필터</a>
	 <a href="#" Id = "delfilter" class="myButton s0 s1 s5 s6 h2 h3 h4" ng-click='rel_filter()'>전체필터 해제</a>
	 <a href="./out/Ezworks_Pr.html" Id = "email_print" class="myButton s0 s1 s5 s6 h2 h3 h4 noFilter" target="_blank">견적요청양식</a>
	 <a href="#" Id = "move_sellin" class="myButton s1 s6 h0 s1 h2 h3 h4 noFilter">주문내용옮기기</a>
	 <a href="#" Id = "row_add" class="myButton noFilter" ng-click='row_add()' >행추가</a>
	 <a href="#" Id = "row_delete" class="myButton noFilter" ng-click='row_del()'>행삭제</a>
     <a href="#" Id = "freeze_cols" class="myButton noFilter" ng-click='freeze_cols()'>틀고정</a>
<br>
