USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_210_WHERE숫자1]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_210_WHERE숫자1]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_210_WHERE숫자1]
AS
BEGIN

    CREATE TABLE #T사원 (
        사원코드  NVARCHAR(30) 
       ,사원명    NVARCHAR(30)
       ,나이      NUMERIC(5,0) 
    )

    INSERT INTO #T사원 (사원코드, 사원명, 나이) VALUES ('A1', '홍길동', 23) 
                                                      ,('A2', '김동현', 30) 
                                                      ,('A3', '구영철', 34) 
                                                      ,('A4', '최봉은', 22) 
                                                      ,('A5', '김승철', 51) 
                                                      ,('A6', '홍동표', 47) 
                                                      ,('A7', '김정식', 45) 
                                                      ,('A8', '김정훈', 27) 
                                                      ,('A9', '황진식', 33) 

    -- (1) 나이가 22세인 사원 조회 
    SELECT 문제번호 = '1' 
          ,A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 = 22

    -- (2) 나이가 22세인 사원 제외하고 조회 
    SELECT 문제번호 = '2-1', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 <> 22

    -- (2) 나이가 22세인 사원 제외하고 조회 
    SELECT 문제번호 = '2-2', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 != 22

    -- (3) 나이가 20세~30세까지 사원 조회 
    SELECT 문제번호 = '3-1', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 BETWEEN 20 AND 30 

    -- (3) 나이가 20세~30세까지 사원 조회 
    SELECT 문제번호 = '3-2', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 >= 20 
       AND A.나이 <= 30 

    -- (4) 나이가 20세~30세까지 제외한 사원 조회 
    SELECT 문제번호 = '4-1', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 NOT BETWEEN 20 AND 30 

    -- (4) 나이가 20세~30세까지 제외한 사원 조회 
    SELECT 문제번호 = '4-2', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE NOT (A.나이 >= 20 AND A.나이 <= 30)

    -- (4) 나이가 20세~30세까지 제외한 사원 조회 
    SELECT 문제번호 = '4-3', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE (A.나이 < 20 OR A.나이 > 30)

    -- (5) 나이가 23세, 51세만 조회 
    SELECT 문제번호 = '5-1', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 IN (23, 51) 

    -- (5) 나이가 23세, 51세만 조회 
    SELECT 문제번호 = '5-2', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE (A.나이 = 23 OR A.나이 = 51) 

    -- (6) 나이가 23세, 51세 제외한 조회 
    SELECT 문제번호 = '6-1', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE A.나이 NOT IN (23, 51) 

    -- (6) 나이가 23세, 51세 제외한 조회 
    SELECT 문제번호 = '6-2', 
           A.사원코드, A.사원명, A.나이 
      FROM #T사원 A 
     WHERE NOT (A.나이 = 23 OR A.나이 = 51) 
END   


GO
