USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_160_부서별실적집계_APPLY]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 부서별 목표, 매출 집계 출력 (APPLY 활용)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_160_부서별실적집계_APPLY]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_160_부서별실적집계_APPLY] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #부서 (                
        부서코드        NVARCHAR(10),
        부서명          NVARCHAR(50))

    INSERT INTO #부서 (부서코드, 부서명) VALUES ('A1', 'A1부서')
    INSERT INTO #부서 (부서코드, 부서명) VALUES ('A2', 'A2부서')
    INSERT INTO #부서 (부서코드, 부서명) VALUES ('A3', 'A3부서')
    INSERT INTO #부서 (부서코드, 부서명) VALUES ('A4', 'A4부서')

    CREATE TABLE #목표 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        목표금액        NUMERIC(18,0) )

    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-1', 200000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-2', 200000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A2', 'A2-1', 400000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A3', 'A3-1', 500000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A4', 'A4-1', 600000)

    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0) )

    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-3', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-4', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-2', 200000)


    ----------------------------------------------------------------------
    -- 결과 출력 (OUTER APPLY는 해당자료가 없더라도 조회됨)
    --           (CROSS APPLY는 반드시 결과가 있어야 조회됨)
    ----------------------------------------------------------------------
    SELECT A.부서코드, A.부서명, B.목표금액, C.매출금액 
      FROM #부서 A 
     CROSS APPLY (SELECT 목표금액 = ISNULL(SUM(X.목표금액),0) 
                    FROM #목표 X
                   WHERE X.부서코드 = A.부서코드) B 
     CROSS APPLY (SELECT 매출금액 = ISNULL(SUM(X.매출금액),0) 
                    FROM #매출 X
                   WHERE X.부서코드 = A.부서코드) C 

/* ----------------------------------------------------------------------------------
   아래 SQL문장 실행시 비정상 결과 출력됨 (원인: 일부데이터 부서별 2건이상 존재)

    SELECT A.부서코드, A.부서명,
           목표금액 = SUM(B.목표금액), 
           매출금액 = SUM(C.매출금액) 
      FROM #부서 A 
      LEFT JOIN #목표 B ON A.부서코드 = B.부서코드 
      LEFT JOIN #매출 C ON A.부서코드 = C.부서코드 
     GROUP BY A.부서코드, A.부서명
-------------------------------------------------------------------------------------*/

END
GO
