USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_140_우선순위예약_CURSOR대체]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 우선순위 예약 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_140_우선순위예약_CURSOR대체]  @입력수량 = 20
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_140_우선순위예약_CURSOR대체]   
       @입력수량  NUMERIC(18, 0) 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #재고 (                
        유통기한        NVARCHAR(10),
        재고수량        NUMERIC(18,0),
        예약수량        NUMERIC(18,0) )

    -- 일부 재고는 다른 사용자가 이미 예약 되었다고 가정 (10, 5, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202005', 10, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202010', 10, 5)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202011', 20, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202103', 30, 0)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202209', 40, 0)

    -- 처리전 데이터 조회 
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량 = A.재고수량 - A.예약수량
      FROM #재고 A 
     ORDER BY A.유통기한 

    ----------------------------------------------------------------------
    -- CURSOR 대체를 위한 임시테이블을 생성 
    ----------------------------------------------------------------------
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량 = A.재고수량 - A.예약수량,
           순번     = IDENTITY(INT, 1, 1)  
      INTO #커서1  
      FROM #재고 A 
     WHERE A.재고수량 - A.예약수량 > 0 
     ORDER BY A.유통기한 
      
    DECLARE @커서1_유통기한  NVARCHAR(10),               -- 커서 데이터 읽을 변수 선언 
            @커서1_재고수량  NUMERIC(18,0),
            @커서1_예약수량  NUMERIC(18,0),
            @커서1_가능수량  NUMERIC(18,0),
            @커서1_순번      INT           = 1,          -- 커서가 읽을 순번 위치 (기본:1)
            @커서1_총건수    INT           = @@ROWCOUNT, -- 커서의 총건수 (시스템변수 활용)
            @처리잔량        NUMERIC(18,0) = 0,
            @반영수량        NUMERIC(18,0) = 0

    SET @처리잔량 = @입력수량    

    ---------------------------------------------------------------------------
    -- 작업 중 일부만 처리되는 것을 방지하기 위해 트랜잭션 처리 (시작) 
    ---------------------------------------------------------------------------
    BEGIN TRAN  

        WHILE (@커서1_순번 <= @커서1_총건수)  BEGIN          -- 순번값이 총건수보다 작으면 계속 실행 
            
            -- 커서 테이블에 값을 하나씩 읽어옴 
            SELECT @커서1_유통기한 = A.유통기한,                  
                   @커서1_재고수량 = A.재고수량,
                   @커서1_예약수량 = A.예약수량,
                   @커서1_가능수량 = A.가능수량
              FROM #커서1 A 
             WHERE A.순번 = @커서1_순번  
        
            -- 가능수량과 처리잔량을 비교하여 실제 반영수량을 결정함 
            IF @처리잔량 <= @커서1_가능수량 BEGIN 
                SET @반영수량 = @처리잔량
            END ELSE BEGIN 
                SET @반영수량 = @커서1_가능수량
            END 
        
            -- 재고테이블에 예약수량 (+) 처리 (다른 사용자 예약등 초과되지 않도록 WHERE설정)
            UPDATE A SET 
                   A.예약수량 = A.예약수량 + @반영수량
              FROM #재고 A 
             WHERE A.유통기한 = @커서1_유통기한
               AND A.재고수량 - A.예약수량 - @반영수량 >= 0 
        
            -- UPDATE,DELETE시 반드시 체크 권장  
            IF @@ERROR <> 0 OR @@ROWCOUNT <> 1 BREAK            -- 오류시 더이상 실행하지 않고 WHILE EXIT
        
            -- 반영수량이 UPDATE 완료 되었으면 처리잔량에서 (-)
            SET @처리잔량 = @처리잔량 - @반영수량
        
            IF @처리잔량 = 0 BREAK                              -- 처리해야할 수량을 모두 처리시 WHILE EXIT
        
            SET @커서1_순번 =  @커서1_순번 + 1                  -- 다음 자료를 읽기 위해 순번 변수 +1 증가 
        
        END;                                                    -- WHILE문 END  

    -------------------------------------------------------------------------------------------------
    -- @처리잔량이 0이면 성공적으로 실행되었기 때문에 COMMIT  아니면 기존작업 전체 ROLLBACK 처리함 
    -------------------------------------------------------------------------------------------------
    IF @처리잔량 = 0  COMMIT TRAN  ELSE  ROLLBACK TRAN 

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량 = A.재고수량 - A.예약수량,
           처리완료여부 = IIF(@처리잔량 = 0, '성공', '실패')
      FROM #재고 A 
     ORDER BY A.유통기한 

END
GO
