USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_170_부서별소계합계_IDENTITY]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 부서별 실적, 소계, 전체합계 출력 (IDENTITY)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_170_부서별소계합계_IDENTITY]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_170_부서별소계합계_IDENTITY] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(20),
        담당자코드      NVARCHAR(20),
        매출금액        NUMERIC(18,0) )

    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-2', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-2', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-1', 200000)

    ----------------------------------------------------------------------
    -- #결과 생성 및 소계, 전체합계 추가 
    ----------------------------------------------------------------------
    SELECT 순번 = IDENTITY(INT, 10, 10),
           구분 = CONVERT(NVARCHAR(20), 'DATA'),
           A.부서코드, A.담당자코드, A.매출금액 
      INTO #결과 
      FROM #매출 A 
     ORDER BY A.부서코드, A.담당자코드 

     SET IDENTITY_INSERT #결과 ON  -- 설정시 순번 자동증가 되지 않고 수동입력 가능 

     -- 부서별 소계 추가 (순번을 부서별 MAX(순번)+2 로 부서코드별 마지막에 출력) 
     INSERT INTO #결과 (부서코드, 구분, 담당자코드, 매출금액, 순번) 
     SELECT 부서코드   = CONCAT(A.부서코드, ' 소계'),
            구분       = '소계',
            담당자코드 = '',
            매출금액   = SUM(A.매출금액),
            순번       = MAX(A.순번) + 2
       FROM #결과 A 
      WHERE A.구분 = 'DATA'
      GROUP BY A.부서코드 
      
     -- 전체합계 추가 (순번을 MAX(순번)+4 로 전체 리스트 마지막에 출력) 
     INSERT INTO #결과 (부서코드, 구분, 담당자코드, 매출금액, 순번) 
     SELECT 부서코드   = '전체합계',
            구분       = '전체합계',
            담당자코드 = '',
            매출금액   = SUM(A.매출금액),
            순번       = MAX(A.순번) + 4
       FROM #결과 A 
      WHERE A.구분 = 'DATA'

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.순번, A.부서코드, A.담당자코드, A.매출금액, A.구분  
      FROM #결과 A 
     ORDER BY A.순번 

END
GO
