USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP02_100_테이블생성]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 테이블생성 예제 (T100C사용자)
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP02_100_테이블생성]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP02_100_테이블생성]
AS
BEGIN

    IF OBJECT_ID(N'사용자', 'U') IS NOT NULL DROP TABLE 사용자

    CREATE  TABLE [테스트사용자] (
        사용자ID           NVARCHAR(30) NOT NULL,   
        사용자명           NVARCHAR(30),            
        비밀번호           NVARCHAR(30),            
        권한레벨           NVARCHAR(10),            
        권한그룹           NVARCHAR(10),            
        사용언어           NVARCHAR(10),             
        사용여부           NVARCHAR(1),               
        나이               NUMERIC(5,0), 
        PRIMARY KEY(사용자ID)
    )


END   


GO
