USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_190_특정제품일자수불]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 특정제품 일자별 수불 (임시테이블)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_190_특정제품일자수불] @IN_제품코드 = 'A'
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_190_특정제품일자수불] 
    @IN_제품코드       NVARCHAR(20) 
AS
BEGIN
    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #제품 (
        제품코드        NVARCHAR(20),
        제품명          NVARCHAR(20)   
    )
    INSERT INTO #제품 (제품코드, 제품명) 
         VALUES ('A','사과'), ('B','포도'), ('C','딸기'),
                ('D','수박'), ('E','참외')
                                

    CREATE TABLE #매입 (
        제품코드        NVARCHAR(20),
        매입일자        NVARCHAR(20),
        매입수량        NUMERIC(18,0)
    )
    INSERT INTO #매입 (제품코드, 매입일자, 매입수량) 
         VALUES ('A', '20191201', 100), ('A', '20200103', 200), 
                ('B', '20200201', 300), ('C', '20200105', 400),
                ('D', '20200107', 500) 

    CREATE TABLE #매출 (
        제품코드        NVARCHAR(20),
        매출일자        NVARCHAR(20),
        매출수량        NUMERIC(18,0)
    )
    INSERT INTO #매출 (제품코드, 매출일자, 매출수량) 
         VALUES ('A', '20191220', 10), ('A', '20200103', 20), 
                ('B', '20200305', 30), ('B', '20200217', 40),
                ('C', '20200220', 50) 

    ----------------------------------------------------------------------
    -- 수불 데이터 집계를 위한 [#수불작업] 테이블 생성 및 INSERT 
    ----------------------------------------------------------------------
    CREATE TABLE #수불작업 (
        일자            NVARCHAR(20),
        매입수량        NUMERIC(18,0) DEFAULT 0,
        매출수량        NUMERIC(18,0) DEFAULT 0,
    )
    
   -- 매입데이터 INSERT 
   INSERT INTO #수불작업 (일자, 매입수량)
   SELECT A.매입일자, 
          매입수량 = SUM(A.매입수량)
     FROM #매입 A
    WHERE A.제품코드 = @IN_제품코드 
    GROUP BY A.매입일자 

   -- 매출데이터 INSERT 
   INSERT INTO #수불작업 (일자, 매출수량)
   SELECT A.매출일자, 
          매출수량 = SUM(A.매출수량)
     FROM #매출 A
    WHERE A.제품코드 = @IN_제품코드 
    GROUP BY A.매출일자 

    ----------------------------------------------------------------------
    -- 수불결과 집계 및 출력 
    ----------------------------------------------------------------------
    SELECT A.일자,
           기초수량 = CONVERT(NUMERIC(18, 0), 0),
           매입수량 = SUM(A.매입수량), 
           매출수량 = SUM(A.매출수량), 
           기말수량 = CONVERT(NUMERIC(18, 0), 0)  
      INTO #수불결과  
      FROM #수불작업 A 
     GROUP BY A.일자 
     ORDER BY A.일자 

     -- 기초, 기말수량 계산 
     UPDATE A SET 
            A.기초수량 = (SELECT ISNULL(SUM(X.매입수량 - X.매출수량),0)
                            FROM #수불결과 X
                           WHERE X.일자 < A.일자),
            A.기말수량 = (SELECT ISNULL(SUM(X.매입수량 - X.매출수량),0)
                            FROM #수불결과 X
                           WHERE X.일자 <= A.일자)
       FROM #수불결과 A 

     -- 최종결과 출력  
     SELECT A.일자, A.기초수량, A.매입수량, A.매출수량, A.기말수량 
       FROM #수불결과 A 
     ORDER BY A.일자 

END
GO
