USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_100_SELECT기본]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_100_SELECT기본]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_100_SELECT기본]
AS
BEGIN

    CREATE TABLE #T매출 (
        매출일자  NVARCHAR(30) 
       ,제품코드  NVARCHAR(30)
       ,제품명    NVARCHAR(30)
       ,매출수량  NUMERIC(18,0)
       ,매출단가  NUMERIC(18,0)
       ,매출금액  NUMERIC(18,0)
    )

    INSERT INTO #T매출 (매출일자, 제품코드, 제품명, 매출수량, 매출단가, 매출금액) 
         VALUES ('20200101', 'A1', '사과', 10, 100, 1000) 
               ,('20200102', 'A2', '당근', 20, 200, 4000) 
               ,('20200205', 'A2', '당근', 30, 300, 9000) 

     
   -- 테이블명을 명확하게 지정하여 작성한 예 
   SELECT #T매출.매출일자, #T매출.매출수량
     FROM #T매출
    WHERE #T매출.제품코드 = 'A2'
    ORDER BY #T매출.매출일자  

   -- 칼럼명이 중복되지 않거나 하나의 테이블만 사용할 경우는 생략 가능 (결과는 위와 동일) 
   SELECT 매출일자, 매출수량
     FROM #T매출 
    WHERE 제품코드 = 'A2'
    ORDER BY 매출일자  

   -- 가명(Alias)를 사용한 예 (결과는 위와 동일) 
   SELECT 매출일자, 매출수량
     FROM #T매출
    WHERE 제품코드 = 'A2'
    ORDER BY 매출일자  

END   


GO
