USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_260_실행시간계산]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 04일 
  작 성 자: 김정현
  기    능: 저장프로시저 실행시간 계산 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [SP08_260_실행시간계산]

--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_260_실행시간계산]  
AS
BEGIN
    SET NOCOUNT ON;   

    ---------------------------------------------
    -- 관련 변수 선언 및 시작시간 저장 
    ---------------------------------------------
    DECLARE @DT_시작시간   DATETIME
           ,@DT_종료시간   DATETIME
    
    SET @DT_시작시간 = GETDATE() 

    ---------------------------------------------
    -- 저장 프로시저로 처리할 로직을 추가 
    ---------------------------------------------

    -- 여기서는 실습을 위해 10초간 지연 처리한다 
    WAITFOR DELAY '00:00:10'                   

    ---------------------------------------------
    -- 종료 시간 저장 
    ---------------------------------------------
    SET  @DT_종료시간 = GETDATE()  


    ---------------------------------------------
    -- 실행시간 출력 
    ---------------------------------------------
    SELECT [시작시간] = @DT_시작시간,
           [종료시간] = @DT_종료시간,
           [수행시간(초)] = DATEDIFF(SECOND, @DT_시작시간, @DT_종료시간)  

END
GO
