USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_240_테이블입력수정삭제]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 매출 테이블 INSERT, UPDATE, DELETE 수행 
            필요에 따라 트랜잭션 관리 필요함 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
DECLARE @RETURN_VALUE    INT,
        @OUT_결과메시지  NVARCHAR(1000)

EXEC @RETURN_VALUE = [SP08_240_테이블입력수정삭제] 
     @IN_처리구분   = '1',
     @IN_부서코드   = 'A5',
     @IN_담당자코드 = 'A5-1', 
     @IN_매출금액   = 300000,
     @OUT_메시지    = @OUT_결과메시지 OUTPUT 

SELECT 리턴값 = @RETURN_VALUE,
       메시지 = @OUT_결과메시지 

--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_240_테이블입력수정삭제]  
       @IN_처리구분    NVARCHAR(10)           -- 1:INSERT 2:UPDATE 4:DELETE 
      ,@IN_부서코드    NVARCHAR(10)           -- 처리할 부서코드 
      ,@IN_담당자코드  NVARCHAR(10)           -- 처리할 담당자코드 
      ,@IN_매출금액    NUMERIC(18,0)          -- 처리할 매출금액 
      ,@OUT_메시지     NVARCHAR(200)  OUTPUT  -- 처리 결과 메시지 리턴 
AS
BEGIN
    SET NOCOUNT ON;   
    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    ----------------------------------------------------------------------
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0),
        PRIMARY KEY (부서코드, 담당자코드)
    )
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-2', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-2', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-1', 200000)

    ----------------------------------------------------------------------
    -- 입력 처리 
    ----------------------------------------------------------------------
    IF @IN_처리구분 = '1'  BEGIN 
        IF EXISTS (SELECT * 
                     FROM #매출 
                    WHERE 부서코드 = @IN_부서코드 
                      AND 담당자코드 = @IN_담당자코드) BEGIN 
            SET @OUT_메시지 = '오류10:이미 입력된 자료 입니다'
            RETURN(10)
        END 

        INSERT INTO #매출 (부서코드,    담당자코드,      매출금액) 
                   VALUES (@IN_부서코드, @IN_담당자코드, @IN_매출금액) 

        IF @@ERROR <> 0 OR @@ROWCOUNT <> 1 BEGIN 
            SET @OUT_메시지 = '오류11:INSERT처리'
            RETURN(11)
        END 

        -- 성공적으로 처리되면 테이블 전체 자료 조회 
        SELECT A.* 
          FROM #매출 A 

        SET @OUT_메시지 = '정상처리'
        RETURN(1)
    END 

    ----------------------------------------------------------------------
    -- 수정 처리 
    ----------------------------------------------------------------------
    IF @IN_처리구분 = '2'  BEGIN 

        UPDATE A SET 
               A.매출금액   = @IN_매출금액 
          FROM #매출 A 
         WHERE A.부서코드   = @IN_부서코드 
           AND A.담당자코드 = @IN_담당자코드 

        IF @@ERROR <> 0 OR @@ROWCOUNT <> 1 BEGIN 
            SET @OUT_메시지 = '오류20:UPDATE처리'
            RETURN(20)
        END 

        -- 성공적으로 처리되면 테이블 전체 자료 조회 
        SELECT A.* 
          FROM #매출 A 

        SET @OUT_메시지 = '정상처리'
        RETURN(1)
    END 

    ----------------------------------------------------------------------
    -- 삭제 처리 
    ----------------------------------------------------------------------
    IF @IN_처리구분 = '4'  BEGIN 

        DELETE A 
          FROM #매출 A 
         WHERE A.부서코드   = @IN_부서코드 
           AND A.담당자코드 = @IN_담당자코드 

        IF @@ERROR <> 0 OR @@ROWCOUNT <> 1 BEGIN 
            SET @OUT_메시지 = '오류30:DELETE처리'
            RETURN(30)
        END 

        -- 성공적으로 처리되면 테이블 전체 자료 조회 
        SELECT A.* 
          FROM #매출 A 

        SET @OUT_메시지 = '정상처리'
        RETURN(1)
    END 

    ----------------------------------------------------------------------
    -- 기타오류 (처리구분 오류) 
    ----------------------------------------------------------------------
    SET @OUT_메시지 = '오류90:기타처리'
    RETURN(90)

END
GO
