USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_181_CURSOR없이한건씩읽기]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: CURSOR 없이 한건씩 읽어 처리 하기 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_181_CURSOR없이한건씩읽기]

---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_181_CURSOR없이한건씩읽기]
AS
BEGIN

    -------------------------------------------------------------
    -- #TEMP1 임시로 테이블을 생성 후 3건 INSERT  
    -------------------------------------------------------------
    CREATE TABLE #T작업1 (
        코드     NVARCHAR(10)
       ,수량     NUMERIC(18,0)
    )

    INSERT INTO #T작업1 (코드, 수량) VALUES  ('A1', 10), ('A2', 20), ('A3', 30)
    -------------------------------------------------------------

     SELECT A.코드, A.수량,
            순번 = IDENTITY(INT, 1, 1)                       -- 테이블에 순번값을 1부터 1씩 증가  
       INTO #커서1
       FROM #T작업1 A
      WHERE A.코드 < 'A3'
      ORDER BY 수량 DESC   
    
    DECLARE @커서1_코드     NVARCHAR(10)                     -- 커서 데이터 읽을 변수 선언 
           ,@커서1_수량     NUMERIC(18,0)
           ,@커서1_순번     INT = 1                          -- 커서가 읽을 순번 위치 (기본:1)
           ,@커서1_총건수   INT = @@ROWCOUNT                 -- 커서의 총건수 (시스템변수 활용)
    
    WHILE (@커서1_순번 <= @커서1_총건수)  BEGIN              -- 순번값이 총건수보다 작으면 계속 실행 
        
        SELECT @커서1_코드 = A.코드,                         -- 커서 테이블에 값을 하나씩 읽어옴 
               @커서1_수량 = A.수량
          FROM #커서1 A 
         WHERE A.순번 = @커서1_순번  

        SELECT 코드     = @커서1_코드,                       -- 읽은 값을 출력 한다     
               수량     = @커서1_수량 

        ----------------------------------------------------------
        -- 여기에 추가적인 작업에 필요한 명령을 추가  
        ----------------------------------------------------------

        SET @커서1_순번 =  @커서1_순번 + 1                  -- 다음 자료를 읽기 위해 순번 변수 +1 증가 

    END;                                                    -- WHILE문 END  
                                                            
                                                            
    DROP TABLE #커서1                                       -- 커서를 위한 임시테이블을 제거 한다 

    DROP TABLE #T작업1                                      -- #T작업1 임시테이블 제거한다     
    
END   
GO
