USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_150_조건문]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: 조건문 테스트 예시 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_150_조건문]
 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_150_조건문]
AS
BEGIN

    DECLARE @IN_숫자  INT   -- 변수 선언 
    
    SET @IN_숫자 = 5        -- 변수에 5를 입력 
    
    --------------------------------------------------------------
    -- IF문 사용 예시 
    --------------------------------------------------------------
    IF @IN_숫자 > 0 BEGIN            -- 0보다 클때
        SELECT '양수' 
    END ELSE IF @IN_숫자 < 0 BEGIN   -- 0보다 작을때 
        SELECT '음수' 
    END ELSE BEGIN                   -- 둘다 아닐때     
        SELECT '0'
    END 
    
    
    --------------------------------------------------------------
    -- CASE문 사용 예시 
    --------------------------------------------------------------
    SELECT CASE WHEN @IN_숫자 > 0  THEN  '양수' 
                WHEN @IN_숫자 < 0  THEN  '음수' 
                ELSE '0'  
           END 
    
    --------------------------------------------------------------
    -- IIF문 사용 예시 
    --------------------------------------------------------------
    SELECT IIF(@IN_숫자 > 0, '양수', IIF(@IN_숫자 < 0, '음수', '0' ))


END   


GO
