USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP02_190_INDEX]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 인덱스 실습 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP02_190_INDEX]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP02_190_INDEX]
AS
BEGIN
    
    CREATE TABLE #T매출 (
        일자    NVARCHAR(08)
       ,제품    NVARCHAR(30)
       ,수량    NUMERIC(18,0) DEFAULT 0  NULL -- 기본값0설정
    )

    CREATE        INDEX T매출_INDEX1 ON #T매출 (제품) 
    CREATE UNIQUE INDEX T매출_INDEX2 ON #T매출 (일자, 제품) 

    -- T매출 자료 등록 
    INSERT INTO #T매출 (일자, 제품, 수량) 
        VALUES ('20200101', 'A3', 10)
             , ('20200101', 'A2', 20)
             , ('20200102', 'A1', 30)
             , ('20200301', 'A3', 40)
 
    
    -- 제품 [A3] 조회시 [T매출_INDEX1] 인덱스 이용 가능성 높음  
    SELECT * FROM #T매출 WHERE 제품 = 'A3' 

    -- 중복되는 자료 추가 (실행시 오류 발생됨) 
    INSERT INTO #T매출 (일자, 제품, 수량) 
        VALUES ('20200101', 'A2', 10)

END   


GO
