USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_170_GOTO]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: 강제이동 GOTO
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_180_GOTO]

---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_170_GOTO]
AS
BEGIN

    DECLARE @IN_숫자  INT        -- @IN_숫자 변수 선언 
                                 
    SET @IN_숫자 = 0             -- @IN_숫자에 5를 저장

    SET @IN_숫자 = @IN_숫자 + 1  -- 기존저장된 값 + 1    
    SET @IN_숫자 = @IN_숫자 + 1  -- 기존저장된 값 + 1    

    GOTO 이동위치1
 
    SET @IN_숫자 = @IN_숫자 + 1  -- 기존저장된 값 + 1    
    SET @IN_숫자 = @IN_숫자 + 1  -- 기존저장된 값 + 1    
    SET @IN_숫자 = @IN_숫자 + 1  -- 기존저장된 값 + 1     

이동위치1:

    SELECT 결과 = @IN_숫자       -- 변수에 저장된 결과를 출력 



END   


GO
