USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_190_WHERE문자1]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_190_WHERE문자1]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_190_WHERE문자1]
AS
BEGIN

    CREATE TABLE #T제품 (
        제품코드  NVARCHAR(30) 
       ,제품명    NVARCHAR(30)
    )

    INSERT INTO #T제품 (제품코드, 제품명) VALUES ('A1', '사과') 
                                                ,('A2', '포도')
                                                ,('A3', '모과')
                                                ,('A4', '복숭아')
                                                ,('A5', '무화과')
                                                ,('B1', '당근') 
                                                ,('B2', '양파')
                                                ,('B3', '고추')
                                                ,('B4', '감자')
                                                ,('B5', '도라지')

    -- (1) 제품명이 [포도]인 자료 조회 
    SELECT 문제번호 = '1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 = '포도' 

    -- (2) 제품명이 [포도]만 제외한 자료 조회 
    SELECT 문제번호 = '2-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 <> '포도'     

    -- (2) 제품명이 [포도]만 제외한 자료 조회 
    SELECT 문제번호 = '2-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 != '포도'     

    -- (3) 제품코드가 [A]로 시작되는 자료 조회 
    SELECT 문제번호 = '3-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품코드 LIKE 'A%' 

    -- (3) 제품코드가 [A]로 시작되는 자료 조회 
    SELECT 문제번호 = '3-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE LEFT(A.제품코드,1) = 'A' 

    -- (4) 제품코드가 [A]로 시작되는 자료만 제외한 자료 조회 
    SELECT 문제번호 = '4-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품코드 NOT LIKE 'A%' 

    -- (4) 제품코드가 [A]로 시작되는 자료만 제외한 자료 조회 
    SELECT 문제번호 = '4-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE LEFT(A.제품코드, 1) <> 'A' 

    -- (4) 제품코드가 [A]로 시작되는 자료만 제외한 자료 조회 
    SELECT 문제번호 = '4-3', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE NOT LEFT(A.제품코드, 1) = 'A' 

    -- (5) 제품명에 [도]인 글자가 포함된 자료 조회 중에 제품코드가 [A]로 시작되는 자료 조회  
    SELECT 문제번호 = '5', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명   LIKE '%도%' 
       AND A.제품코드 LIKE 'A%' 

    -- (6) 제품명 끝글자가 [과]인 자료 조회 
    SELECT 문제번호 = '6-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 LIKE '%과' 

    -- (6) 제품명 끝글자가 [과]인 자료 조회 
    SELECT 문제번호 = '6-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE RIGHT(A.제품명, 1) = '과' 

    -- (7) 제품명 두번째 글자가 [과]인 자료 조회  
    SELECT 문제번호 = '7-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 LIKE '_과' 

    -- (7) 제품명 두번째 글자가 [과]인 자료 조회  
    SELECT 문제번호 = '7-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE SUBSTRING(A.제품명, 2, 1) = '과' 

    -- (8) 제품명 세번째 글자가 [과]인 자료 조회  
    SELECT 문제번호 = '8-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 LIKE '__과' 

    -- (8) 제품명 세번째 글자가 [과]인 자료 조회  
    SELECT 문제번호 = '8-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE SUBSTRING(A.제품명, 3, 1) = '과' 

END   


GO
