USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_141_변수자료저장_SET]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 14일 
  작 성 자: 김정현
  기    능: SET 명령으로 변수에 데이터 저장 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_141_변수자료저장_SET]

 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_141_변수자료저장_SET]
AS
BEGIN

    -- 변수1,2를 선언. 초기값 0지정
    DECLARE @변수1  INT = 0,
            @변수2  INT = 0  
    
    -- 변수1,2에 30, 0을 저장 한다 
    SET @변수1 = 30
    SET @변수2 = 0
    
    -- @변수1에 저장된 [30] + [10]의
    -- 결과를 @변수1에 저장한다.
    SET @변수1 = @변수1 + 10
    
    -- @변수1에 저장된 [40] + [20]의
    -- 결과를 @변수2에 저장한다
    SET @변수2 = @변수1 + 20
    
    -- 변수를 화면에 출력 한다
    SELECT 변수1값 = @변수1,  
           변수2값 = @변수2 
    


END   


GO
