USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_110_구구단_JOIN]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 구구단 (테이블 JOIN)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_110_구구단_JOIN]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_110_구구단_JOIN]
AS
BEGIN

    SET NOCOUNT ON;   

    -- 단수 관련 임시테이블 생성 및 데이터 INSERT 
    CREATE TABLE #단수  (단수값   INT)

    INSERT INTO #단수 (단수값) VALUES (2),(3),(4),(5),(6),(7),(8),(9)

    -- 반복 관련 임시테이블 생성 및 데이터 INSERT 
    CREATE TABLE #반복  (반복값   INT)

    INSERT INTO #반복 (반복값) VALUES (1),(2),(3),(4),(5),(6),(7),(8),(9)

    -----------------------------------------------------------------------
    -- SELECT로 결과 출력 
    -- JOIN 조건 생략시 모든 경우의 수에 대한 데이터가 생성됨 
    -----------------------------------------------------------------------
    SELECT 단수 = A.단수값, 
           반복 = B.반복값, 
           결과 = A.단수값 * B.반복값 
      FROM #단수 A, #반복 B 
     ORDER BY A.단수값, B.반복값


END
GO
