USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_143_변수자료저장_SELECT2]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 14일 
  작 성 자: 김정현
  기    능: 테이블에 있는 데이터를 변수에 저장 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_142_변수자료저장_SELECT2]

 
---------------------------------------------------------------------*/
create PROCEDURE [dbo].[SP05_143_변수자료저장_SELECT2]
AS
BEGIN

    -- #TEMP1 테이블을 생성 
    SELECT 수량 = 1  
      INTO #TEMP1 
    
    -- #TEMP1 테이블에 데이터를 추가
    -- #TEMP1 테입르에는 1과 2 저장
    INSERT INTO #TEMP1 (수량) 
                 VALUES (2)
    
    -- 변수1을 선언 한다 
    DECLARE @변수1 INT 
    
    -- 테이블의 데이터를 변수에 저장
    -- 두개값이상 존재시 마지막값 저장
    SELECT @변수1 = 수량 
      FROM #TEMP1 
    
    -- 변수를 화면에 출력 
    SELECT 변수1값 = @변수1

END   


GO
