USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_120_주석예제]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 12일 
  작 성 자: 김정현
  기    능: 주석문 이해를 위한 실행 예제
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_120_주석예제]

 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_120_주석예제]
AS
BEGIN

    /* 주석문은 두가지 방법으로 사용 할 수 있다. 
       1. [--] 뒤에 설명하고자 하는 내용을 입력 하면 된다
       2. [/*] 표시 부터 [*/]가 종료 될 때까지 영역을 주석으로 처리
       
       위의 두가지 방법 중 편리한 방법을 선택 하면 된다.   
    */

    -- 본 프로그램은 주석을 설명 위해 하기 위해 작성 되었다

    SELECT GETDATE()    -- 현재 시간을 화면에 표시한다 
      
    /* -------------------------

          여기에는 입력하면 주석으로 처리되기 때문에 
          어떤 내용도 입력 가능 하다. 

          대신 실행과는 아무런 영향을 미치지 못한다.

    ---------------------------*/
 

END   


GO
