USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_200_WHERE문자2]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_200_WHERE문자2]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_200_WHERE문자2]
AS
BEGIN

    CREATE TABLE #T제품 (
        제품코드  NVARCHAR(30) 
       ,제품명    NVARCHAR(30)
    )

    INSERT INTO #T제품 (제품코드, 제품명) VALUES ('A1', '사과') 
                                                ,('A2', '포도')
                                                ,('A3', '모과')
                                                ,('A4', '복숭아')
                                                ,('A5', '무화과')
                                                ,('B1', '당근') 
                                                ,('B2', '양파')
                                                ,('B3', '고추')
                                                ,('B4', '감자')
                                                ,('B5', '도라지')

    SELECT A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 IN ('사과','포도')

    -- (1) 제품명이 [사과]와 [포도]인 자료 조회 
    SELECT 문제번호 = '1-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 IN ('사과','포도')

    -- (1) 제품명이 [사과]와 [포도]인 자료 조회 
    SELECT 문제번호 = '1-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE (A.제품명 = '사과' OR A.제품명 = '포도')

    -- (2) 제품명이 [사과]와 [포도]인 자료만 제외하고 조회 
    SELECT 문제번호 = '2-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품명 NOT IN ('사과','포도')

    -- (2) 제품명이 [사과]와 [포도]인 자료만 제외하고 조회 
    SELECT 문제번호 = '2-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE NOT (A.제품명 = '사과' OR A.제품명 = '포도')

    -- (3) 제품코드가 [A2] ~ [A4] 까지의 자료만 조회 
    SELECT 문제번호 = '3-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품코드 BETWEEN 'A2' AND 'A4' 

    -- (3) 제품코드가 [A2] ~ [A4] 까지의 자료만 조회 
    SELECT 문제번호 = '3-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE A.제품코드 >= 'A2' 
       AND A.제품코드 <= 'A4' 

    -- (4) 제품코드 두번째자리 [2] ~ [4] 범위에 있는 자료만 조회 
    SELECT 문제번호 = '4-1', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE SUBSTRING(A.제품코드, 2, 1) BETWEEN '2' AND '4'

    -- (4) 제품코드 두번째자리 [2] ~ [4] 범위에 있는 자료만 조회 
    SELECT 문제번호 = '4-2', 
           A.제품코드, A.제품명 
      FROM #T제품 A 
     WHERE SUBSTRING(A.제품코드, 2, 1) >= '2'
       AND SUBSTRING(A.제품코드, 2, 1) <= '4' 

END   


GO
