USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP02_200_임시테이블]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 임시테이블 활용 예시 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP02_200_임시테이블]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP02_200_임시테이블]
AS
BEGIN
    
    -- 테스트를 위해 실테이블을 만들지 않고 임시테이블 생성함 
    CREATE TABLE #T매입 (
        일자    NVARCHAR(08)
       ,제품    NVARCHAR(30)
       ,수량    NUMERIC(18,0) DEFAULT 0  NULL -- 기본값0설정
    )

    -- T매입 자료 등록 
    INSERT INTO #T매입 (일자, 제품, 수량) 
        VALUES ('20200101', 'A1', 100)
             , ('20200105', 'A1', 200)
             , ('20200201', 'A4', 400)
             , ('20200301', 'A5', 500)
 
    -- 테스트를 위해 실테이블을 만들지 않고 임시테이블 생성함 
    CREATE TABLE #T매출 (
        일자    NVARCHAR(08)
       ,제품    NVARCHAR(30)
       ,수량    NUMERIC(18,0) DEFAULT 0  NULL -- 기본값0설정
    )

    -- T매출 자료 등록 
    INSERT INTO #T매출 (일자, 제품, 수량) 
        VALUES ('20200101', 'A1', 10)
             , ('20200201', 'A2', 20)
             , ('20200301', 'A3', 30)
             , ('20200401', 'A4', 40)
 

    -- 1: 임시테이블을 활용한 집계를 위해 임시테이블 생성 
    CREATE TABLE #임시1 (
        년월        NVARCHAR(08)
       ,제품        NVARCHAR(30)
       ,매입수량    NUMERIC(18,0) DEFAULT 0  NOT NULL -- 기본값0설정
       ,매출수량    NUMERIC(18,0) DEFAULT 0  NOT NULL -- 기본값0설정
    )

    -- 2: 매입 및 매출 데이터를 #임시1 테이블에 INSERT 함 
    INSERT INTO #임시1 (년월, 제품, 매입수량)
    SELECT LEFT(A.일자, 6) 
          ,A.제품
          ,매입수량 = SUM(A.수량) 
      FROM #T매입 A
     GROUP BY LEFT(A.일자, 6), A.제품
          
    INSERT INTO #임시1 (년월, 제품, 매출수량)
    SELECT LEFT(A.일자, 6) 
          ,A.제품
          ,매출수량 = SUM(A.수량) 
      FROM #T매출 A
     GROUP BY LEFT(A.일자, 6), A.제품

    -- 3: 최종 결과를 출력함 
    SELECT A.년월, A.제품
          ,매입수량 = SUM(A.매입수량) 
          ,매출수량 = SUM(A.매출수량) 
      FROM #임시1 A
     GROUP BY A.년월, A.제품
     ORDER BY A.년월, A.제품


END   


GO
