USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_160_반복문_누적]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: 반복문 (1~10까지 누적값 계산)
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_160_반복문_누적]
 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_160_반복문_누적]
AS
BEGIN

    DECLARE @반복값  INT  -- 변수 선언 
           ,@누적값  INT  -- 변수 선언 
    
    SET @반복값 = 0-- 반복 초기값 설정 
    SET @누적값 = 0 -- 누적값을 모두 비움 (0)

    --------------------------------------------------------
    -- @반복값이 10보다 작을때 까지 BEGIN ~ END 까지 반복 
    --------------------------------------------------------
    WHILE (@반복값 < 10)  BEGIN 

        SET @반복값 = @반복값 + 1 

        SET @누적값 = @누적값 + @반복값

    END 

    --결과 출력 
    SELECT 반복값결과 = @반복값, 
           누적값결과 = @누적값 


END   


GO
