USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP09_520_SPID별상태조회_WHO2]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 03월 02일 
  작 성 자: 김정현
  기    능: SPID별 상태 조회 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------

EXEC [SP09_520_SPID별상태조회_WHO2]

--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP09_520_SPID별상태조회_WHO2]  
AS
BEGIN

    SET NOCOUNT ON

    ----------------------------------------------------------------------------------------
    -- 현재 세션별 상태 조회 (락현황, CPU사용량 등) 
    ----------------------------------------------------------------------------------------
    EXEC SP_WHO2

    ----------------------------------------------------------------------------------------
    --ID의 쿼리문 확인
    ----------------------------------------------------------------------------------------
    DBCC INPUTBUFFER(@@SPID)  -- @SPID 대신에 원하는 세션번호 입력 

    ----------------------------------------------------------------------------------------
    --해당 세션번호 연결 강제 종료 
    ----------------------------------------------------------------------------------------
    KILL 1000   -- 연결 강제 종료 원하는 세션번호를 입력 



END 
GO
