USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_130_변수선언]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 14일 
  작 성 자: 김정현
  기    능: 변수 선언 방법 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_130_변수선언]

 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_130_변수선언]
AS
BEGIN

    --------------------------------------------------------------------
    -- 10 문자형 변수 선언 
    --------------------------------------------------------------------
    -- 고정길이문자
    DECLARE @변수10  CHAR(30)
    
    -- 변동길이문자 (입력된 용량만 저장)
    DECLARE @변수11  VARCHAR(30) 
    
    -- 앞에 N이 붙으면 다국어 처리
    -- [@변수14]는 기본값 [1]을 지정
    DECLARE @변수12  NCHAR(10),
            @변수13  NVARCHAR(30) = '1'   
    

    SELECT 변수10 = @변수10,
           변수11 = @변수11,
           변수12 = @변수12,
           변수13 = @변수13

    --------------------------------------------------------------------
    -- 20 숫자형 변수 선언 
    --------------------------------------------------------------------

    -- 정수형 
    DECLARE @변수20  INT,
            @변수21  BIGINT = 2
    
    -- 고정소수점 
    DECLARE @변수22  NUMERIC(5,0),
            @변수23  NUMERIC(5,3) = 1
    
    -- 변동소수점 
    DECLARE @변수24  FLOAT = 1.3,  
            @변수25  REAL  = 12.345 

    SELECT 변수20 = @변수20,
           변수21 = @변수21,
           변수22 = @변수22,
           변수23 = @변수23,
           변수24 = @변수24,
           변수25 = @변수25

    --------------------------------------------------------------------
    -- 30 날짜형 변수 선언 
    --------------------------------------------------------------------

    -- 일자형  
    DECLARE @변수30  DATE = '20200114'
    
    -- 일자형(시간포함)
    DECLARE @변수31  DATETIME 


    SELECT 변수30 = @변수30,
           변수31 = @변수31

END   


GO
