USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP06_140_사용자권한_레코드셋]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 사용자코드가 [A]로 시작하는 사용자만 권한 승인(1)  
--------------------------------------------------------
  수정일    수정자    요청자    내용
--------------------------------------------------------
EXEC [dbo].[SP06_140_사용자권한_레코드셋]
           @IN_사용자코드 = 'C100'

--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP06_140_사용자권한_레코드셋]
   @IN_사용자코드        NVARCHAR(30)
AS
BEGIN

    SET NOCOUNT ON;

    IF LEFT(@IN_사용자코드, 1) = 'A' BEGIN 
        -- 사용자코드 첫글자가 [A]이면 승인(1)
        SELECT 결과코드   = '1' 
              ,결과메시지 = '승인' 

    END ELSE BEGIN 
        -- 사용자코드 첫글자가 [A]가 아니면 불가(9)
        SELECT 결과코드   = '9' 
              ,결과메시지 = '미승인' 

    END 

END
GO
