USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_230_언피봇예제]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_230_언피봇예제]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_230_언피봇예제]
AS
BEGIN

    CREATE TABLE #T매출 (
        제품코드  NVARCHAR(30)
       ,[01월]    NUMERIC(18, 0) 
       ,[02월]    NUMERIC(18, 0) 
       ,[03월]    NUMERIC(18, 0) 
       ,[04월]    NUMERIC(18, 0) 
       ,[05월]    NUMERIC(18, 0) 
       ,[06월]    NUMERIC(18, 0) 
       ,[07월]    NUMERIC(18, 0) 
       ,[08월]    NUMERIC(18, 0) 
       ,[09월]    NUMERIC(18, 0) 
       ,[10월]    NUMERIC(18, 0) 
       ,[11월]    NUMERIC(18, 0) 
       ,[12월]    NUMERIC(18, 0) 
    )

    INSERT INTO #T매출 (제품코드, [01월], [02월], [03월], [04월], [05월], [06월]) 
                VALUES ('A1', 10, 11, 12, 13, 14, 15)
                      ,('A2', 20, 21, 22, 23, 24, 25)

    SELECT P.*  
      FROM #T매출 A 
    UNPIVOT (매출수량 FOR 월 IN ([01월], [02월], [03월], [04월], [05월], [06월], [07월], [08월], [09월], [10월], [11월], [12월])) P      

    SELECT A.*
      FROM #T매출 A 


END   


GO
