USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP09_530_LOCK조회]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 03월 02일 
  작 성 자: 김정현
  기    능: LOCK상세조회 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------

EXEC [SP09_530_LOCK조회]

--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP09_530_LOCK조회]  
AS
BEGIN

    SET NOCOUNT ON

    ----------------------------------------------------------------------------------------
    -- 현재 LOCK이 발생된 현황을 조회 할 수 있다  
    -- EXEC SP_LOCK  [세션번호]  -- 해당세션의 LOCK 정보 조회 가능 
    -- LOCK종류 : S:공유잠금 U:업데이트잠금 X:독점잠금 IS:의도공유잠금 
    --            IU:의도업데이트잠금 IX:독립의도잠금 BU:대량업데이트잠금 
    ----------------------------------------------------------------------------------------
    EXEC SP_LOCK

    ----------------------------------------------------------------------------------------
    -- 가장 오래된 진행중인 트랜잭션 조회 
    ----------------------------------------------------------------------------------------
    DBCC OPENTRAN 


END 
GO
