USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_151_IF_EXISTS]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: 조건문 (데이터 존재여부에 따른 처리)
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_151_IF_EXISTS]
 
---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_151_IF_EXISTS]
AS
BEGIN

    -------------------------------------------------------------
    -- #TEMP1 임시로 테이블을 생성 후 3건 INSERT  
    -------------------------------------------------------------
    CREATE TABLE #T작업1 (
        코드     NVARCHAR(10)
       ,수량     NUMERIC(18,0)
    )

    INSERT INTO #T작업1 (코드, 수량) VALUES  ('A1', 10), ('A2', 20), ('A3', 30)

    -------------------------------------------------------------
    -- EXISTS 함수 이용 데이터 존재 여부 확인 (권장) 
    -------------------------------------------------------------
    IF EXISTS (SELECT A.* 
                 FROM #T작업1 A 
                WHERE A.코드 = 'A2') BEGIN 
       SELECT 결과 = '[A2]존재'
    END ELSE BEGIN 
       SELECT 결과 = '[A2]자료없음'
    END 

    
    -------------------------------------------------------------
    -- COUNT() 이용 데이터 존재 여부 확인 (권장하지 않음) 
    -------------------------------------------------------------
    DECLARE @카운터건수  INT   -- 데이터 건수 확인용 변수 선언 

    SELECT @카운터건수 = COUNT(*)
      FROM #T작업1 A 
     WHERE A.코드 = 'A2'

    IF @카운터건수 = 1 
       SELECT 결과 = '[A2]존재'
    ELSE 
       SELECT 결과 = '[A2]자료없음'

END   


GO
