USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP05_180_CURSOR]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------
  작 성 일: 2020년 1월 16일 
  작 성 자: 김정현
  기    능: CURSOR 예제 
---------------------------------------------------------------------
  수정일    수정자    요청자    내용
---------------------------------------------------------------------
실행명령어 : EXEC [dbo].[SP05_180_CURSOR]

---------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP05_180_CURSOR]
AS
BEGIN

    -------------------------------------------------------------
    -- #TEMP1 임시로 테이블을 생성 후 3건 INSERT  
    -------------------------------------------------------------
    CREATE TABLE #T작업1 (
        코드     NVARCHAR(10)
       ,수량     NUMERIC(18,0)
    )

    INSERT INTO #T작업1 (코드, 수량) VALUES  ('A1', 10), ('A2', 20), ('A3', 30)
    -------------------------------------------------------------

    DECLARE 커서1   CURSOR  FOR                              -- 커서를 생성함   
     SELECT A.코드, A.수량 
       FROM #T작업1 A
      WHERE A.코드 < 'A3'
      ORDER BY 수량 DESC   

    OPEN 커서1;                                              -- 커서 오픈 (커서에 데이터 저장)

    DECLARE @커서1_코드     NVARCHAR(10)                     -- 커서 데이터 읽을 변수 선언 
           ,@커서1_수량     NUMERIC(18,0)
    
    WHILE (1 = 1)  BEGIN                                     -- (1=1)은 항상 TRUE : 무한 WHILE 수행 
        
        FETCH NEXT FROM 커서1 INTO @커서1_코드, @커서1_수량  -- 한건 읽어옴 

        IF @@FETCH_STATUS <> 0  BREAK                        -- 읽을 자료가 없거나 오류면 WHILE문을 빠져 나옴

        SELECT 코드     = @커서1_코드,                       -- 읽은 값을 출력 한다     
               수량     = @커서1_수량 

        ----------------------------------------------------------
        -- 여기에 추가적인 작업에 필요한 명령을 추가  
        ----------------------------------------------------------

    END;                                                    -- WHILE문 END  
                                                            
                                                            
    CLOSE 커서1                                             -- 커서에 저장된 데이터를 닫음 (제거) 
    DEALLOCATE 커서1                                        -- 커서를 제거함 
                                                            
    DROP TABLE #T작업1                                      -- #T작업1 임시테이블 제거한다     
    
 
    
 
    
END   
GO
