USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_200_순위산정]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 순위 산정 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_200_순위산정]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_200_순위산정] 
AS
BEGIN
    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(20),
        매출수량        NUMERIC(18,0)
    )
    INSERT INTO #매출 (부서코드, 매출수량) 
         VALUES ('A', 100), ('B', 70), ('C', 50),
                ('D',  70), ('E', 85)
                                
    ----------------------------------------------------------------------
    -- 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.부서코드, A.매출수량,
           RANK순위 = RANK() OVER(ORDER BY A.매출수량 DESC),
           ROW순위  = ROW_NUMBER() OVER(ORDER BY A.매출수량 DESC)
      FROM #매출 A 
     ORDER BY A.부서코드 


END
GO
