USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_217_초성검색]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 03월 03일 
  작 성 자: 김정현
  기    능: 초성값으로 제품을 검색 하는 방법 예제 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------

EXEC [SP08_217_초성검색] @IN_초성입력 = 'ㅅㄱ'


--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_217_초성검색]  @IN_초성입력  NVARCHAR(100) 
AS
BEGIN

    CREATE TABLE #제품 (
        제품코드   NVARCHAR(30) NOT NULL
       ,제품명     NVARCHAR(100)
       ,제품초성   NVARCHAR(100) DEFAULT '' 
       ,PRIMARY KEY (제품코드)
    )
    INSERT INTO #제품 (제품코드, 제품명)
               VALUES ('A', '사과'), ('B', '사과식초')
                     ,('C', '포도'), ('D', '당근')
                     ,('E', '청포도')

    ------------------------------------------------------------------
    -- 미리 UPDATE로 #제품 테이블 [제품초성] 저장함  
    ------------------------------------------------------------------
    UPDATE A SET 
           A.제품초성 = [dbo].[UFT08_217_초성조회](A.제품명)
      FROM #제품 A 
     WHERE A.제품초성 = '' 

    ------------------------------------------------------------------
    -- @IN_초성입력 값에 해당하는 제품내역 조회 
    ------------------------------------------------------------------
    SELECT A.제품코드, A.제품명, A.제품초성 
      FROM #제품 A
     WHERE A.제품초성 LIKE '%' + @IN_초성입력 + '%'
     ORDER BY 1 


END; 
GO
