USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_140_우선순위예약_일괄처리]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 우선순위 예약 (일괄처리)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_140_우선순위예약_일괄처리]  @입력수량 = 20
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_140_우선순위예약_일괄처리]   
       @입력수량  NUMERIC(18, 0) 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #재고 (                
        유통기한        NVARCHAR(10),
        재고수량        NUMERIC(18,0),
        예약수량        NUMERIC(18,0) )

    -- 일부 재고는 다른 사용자가 이미 예약 되었다고 가정 (10, 5, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202005', 10, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202010', 10, 5)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202011', 20, 10)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202103', 30, 0)
    INSERT INTO #재고 (유통기한, 재고수량, 예약수량) VALUES ('202209', 40, 0)

    -- 처리전 데이터 조회 
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량 = A.재고수량 - A.예약수량
      FROM #재고 A 
     ORDER BY A.유통기한 

    ----------------------------------------------------------------------
    -- 일괄작업을 위한 임시테이블을 생성 
    ----------------------------------------------------------------------
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량     = A.재고수량 - A.예약수량,
           누적가능수량 = CONVERT(NUMERIC(18,0), 0),
           예약예정수량 = CONVERT(NUMERIC(18,0), 0),
           순번     = IDENTITY(INT, 1, 1)  
      INTO #작업테이블   
      FROM #재고 A 
     WHERE A.재고수량 - A.예약수량 > 0 
     ORDER BY A.유통기한 

    -- 누적가능량 계산
    UPDATE A SET 
           A.누적가능수량 = (SELECT ISNULL(SUM(X.가능수량), 0) 
                               FROM #작업테이블 X 
                              WHERE X.유통기한 <= A.유통기한)
      FROM #작업테이블 A 

    ----------------------------------------------------------------------
    -- 유통기한별 예약예정수량 UPDATE 
    ----------------------------------------------------------------------
    DECLARE @예약최대순번       INT           = 0, -- UPDATE할 최대 순번 저장
            @예약예정수량합계   NUMERIC(18,0) = 0  

    SELECT @예약최대순번 = ISNULL(MIN(A.순번), 0) 
      FROM #작업테이블 A 
     WHERE A.누적가능수량 >= @입력수량 


    IF @예약최대순번 > 0 BEGIN 

        -- 위에서 계산한 예약최대순번 까지만 UPDATE 처리
        -- 누적가능수량이 입력수량보다 작을때는 가능수량 ==> 예약예정수량 반영  
        --                             클때는   잔량     ==> 예약예정수량 반영 
        UPDATE A SET 
               A.예약예정수량 = IIF(A.누적가능수량 <= @입력수량, A.가능수량, 
                                                                  @입력수량 - (A.누적가능수량 - A.가능수량))
          FROM #작업테이블 A 
         WHERE A.순번 <= @예약최대순번    
        
        SELECT @예약예정수량합계 = ISNULL(SUM(A.예약예정수량),0) 
          FROM #작업테이블 A 

        BEGIN TRAN 

            UPDATE A SET 
                   A.예약수량 = A.예약수량 + B.예약예정수량 
              FROM #재고 A
             INNER JOIN #작업테이블 B ON A.유통기한 = B.유통기한 
             WHERE B.예약예정수량 > 0 
               AND A.재고수량 - A.예약수량 - B.예약예정수량 >= 0 
      
        IF @@ERROR <> 0 OR @@ROWCOUNT <> @예약최대순번 OR @예약예정수량합계 <> @입력수량 BEGIN 
            ROLLBACK TRAN
            SET @예약예정수량합계 = 0    
        END ELSE BEGIN 
            COMMIT TRAN         
        END 

    END 

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.유통기한, A.재고수량, A.예약수량, 
           가능수량 = A.재고수량 - A.예약수량,
           처리완료여부 = IIF(@입력수량 = @예약예정수량합계, '성공', '실패')
      FROM #재고 A 
     ORDER BY A.유통기한 


END
GO
