USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_150_부서별목표실적집계_PIVOT]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 부서를 목표 실적 집계 (PIVOT활용)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_150_부서별목표실적집계_PIVOT]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_150_부서별목표실적집계_PIVOT] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    ----------------------------------------------------------------------
    CREATE TABLE #목표 (                
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        목표금액        NUMERIC(18,0) 
    )
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-1', 100000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-2', 200000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A2', 'A2-1', 300000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A3', 'A3-1', 400000)
    
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0) 
    )
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-2', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-2', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-1', 200000)


    ----------------------------------------------------------------------
    -- 관련 테이블 자료 집계 ==> #자료집계 임시테이블 생성 
    ----------------------------------------------------------------------
    SELECT 구분 = '1목표금액', 
           A.부서코드, 
           금액 = SUM(A.목표금액) 
      INTO #자료집계 
      FROM #목표 A 
    GROUP BY A.부서코드
    UNION ALL  
    SELECT 구분 = '2매출금액', 
           A.부서코드, 
           금액 = SUM(A.매출금액) 
      FROM #매출 A 
    GROUP BY A.부서코드


    ----------------------------------------------------------------------
    -- 결과 출력 
    ----------------------------------------------------------------------
    SELECT P.구분, 
           A1 = ISNULL(P.A1, 0),   -- 자료가 없을 경우 NULL 표시를 제거하기 
           A2 = ISNULL(P.A2, 0),   -- 위해 ISNULL사용함 
           A3 = ISNULL(P.A3, 0),
           A4 = ISNULL(P.A4, 0)
      FROM #자료집계  A 
     PIVOT (SUM(A.금액) FOR A.부서코드 IN ([A1],[A2],[A3],[A4])) P
    ORDER BY P.구분 

END
GO
