USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_120_집계예제1]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_120_집계예제1]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_120_집계예제1]
AS
BEGIN

    CREATE TABLE #T제품 (
        제품코드  NVARCHAR(30) 
       ,제품명    NVARCHAR(30)
    )

    CREATE TABLE #T매출 (
        매출일자  NVARCHAR(30) 
       ,제품코드  NVARCHAR(30)
       ,매출수량  NUMERIC(18, 0) 
       ,매출단가  NUMERIC(18, 0) 
       ,매출금액  NUMERIC(18, 0) 
    )

    INSERT INTO #T제품 (제품코드, 제품명) VALUES ('A2', '당근') 
                                                ,('A3', '포도')

    INSERT INTO #T매출 (매출일자, 제품코드, 매출수량, 매출단가, 매출금액) VALUES ('20200101', 'A1', 10, 100, 1000) 
                                                                                ,('20200102', 'A2', 20, 200, 4000) 
                                                                                ,('20200205', 'A2', 30, 300, 9000) 
                                                                                ,('20200301', 'A2', 40, 400, 16000) 

    SELECT SUM(A.매출수량),
           ISNULL(AVG(A.매출수량), 0),
           ISNULL(MAX(A.매출수량), 0),
           MIN(A.매출수량),
           매출건수 = COUNT(*)
      FROM #T매출 A
     INNER JOIN #T제품 B ON A.제품코드 = B.제품코드
     WHERE A.매출일자 >= '20200101'
       AND A.매출일자 <= '20200228' 
       AND B.제품명    = '사과'
 
    SELECT 합계매출수량 = ISNULL(SUM(A.매출수량), 0),
           평균매출수량 = ISNULL(AVG(A.매출수량), 0), 
           MAX매출수량  = ISNULL(MAX(A.매출수량), 0), 
           MIN매출수량  = ISNULL(MIN(A.매출수량), 0), 
           매출건수     = ISNULL(COUNT(*), 0)
      FROM #T매출 A
     INNER JOIN #T제품 B ON A.제품코드 = B.제품코드
     WHERE A.매출일자 >= '20200101'
       AND A.매출일자 <= '20200228' 
       AND B.제품명    = '당근'

END   


GO
