USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_235_SELECT결과테이블생성]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2020년 2월 5일 
  작 성 자: 김정현
  기    능: SELECT 결과를 테이블 생성 및 저장 
            WITH문으로 임시테이블 생성 및 활용 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_235_SELECT결과테이블생성]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_235_SELECT결과테이블생성]
AS
BEGIN
    CREATE TABLE #매출 (
        제품코드  NVARCHAR(30)
       ,년월      NVARCHAR(06) 
       ,매출수량  NUMERIC(18, 0) 
    )
    INSERT INTO #매출 (제품코드, 년월, 매출수량) VALUES ('A1', '202001', 10) 
                                                       ,('A2', '201911', 20) 
                                                       ,('A2', '201912', 30) 
                                                       ,('A3', '201901', 40) 
                                                       ,('A3', '202005', 50) 

    ---------------------------------------------------------------------------                                                        
    -- SELECT 결과로 테이블 생성 및 데이터 저장 
    ---------------------------------------------------------------------------                                                        
    SELECT A.제품코드, 
           매출수량합계 = SUM(A.매출수량)
      INTO #매출집계                       -- #임시테이블 / 실테이블 모두 가능 
      FROM #매출 A 
    GROUP BY A.제품코드

    SELECT A.제품코드, A.매출수량합계 
      FROM #매출집계 A
    ORDER BY A.제품코드;  

    ---------------------------------------------------------------------------                                                        
    -- WITH문으로 임시테이블 생성 및 출력 
    ---------------------------------------------------------------------------
    -- 일반 임시테이블과 달리 WITH문 끝나면 [매출집계]임시테이블 자동 제거 
    WITH 매출집계 AS (SELECT A.제품코드, 
                             매출수량합계 = SUM(A.매출수량)
                        FROM #매출 A 
                      GROUP BY A.제품코드)
         SELECT A.제품코드, A.매출수량합계 
           FROM 매출집계 A 
          ORDER BY A.제품코드;

END   


GO
