USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_150_부서별목표실적집계]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 부서별 목표, 매출 집계 출력 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_150_부서별목표실적집계]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_150_부서별목표실적집계] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #목표 (                
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        목표금액        NUMERIC(18,0) )

    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0) )

    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-1', 100000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A1', 'A1-2', 200000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A2', 'A2-1', 300000)
    INSERT INTO #목표 (부서코드, 담당자코드, 목표금액) VALUES ('A3', 'A3-1', 400000)

    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-2', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-2', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-1', 200000)

    ----------------------------------------------------------------------
    -- 결과 집계를 위한 테이블을 생성 후 집계된 목표와 실적을 입력 한다 
    ----------------------------------------------------------------------
    CREATE TABLE #실적집계 (
        부서코드      NVARCHAR(10), 
        목표금액      NUMERIC(18, 0) DEFAULT 0,
        매출금액      NUMERIC(18, 0) DEFAULT 0) 

    INSERT INTO #실적집계 (부서코드, 목표금액)
    SELECT A.부서코드, SUM(A.목표금액)
      FROM #목표 A 
     GROUP BY A.부서코드 

    INSERT INTO #실적집계 (부서코드, 매출금액)
    SELECT A.부서코드, SUM(A.매출금액)
      FROM #매출 A 
     GROUP BY A.부서코드 

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.부서코드, 
           목표금액 = SUM(A.목표금액),
           매출금액 = SUM(A.매출금액) 
      FROM #실적집계 A 
     GROUP BY A.부서코드
     ORDER BY A.부서코드

END
GO
