USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP02_170_LOCK관리_30COMMIT]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: LOCK 관리 테스트 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP02_170_LOCK관리_30COMMIT]

 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP02_170_LOCK관리_30COMMIT]
AS
BEGIN

    -- 트랜잭션 완료 --------------------------------------
    COMMIT TRAN      

    -- 자료 조회 
    SELECT * 
      FROM T매출 A 
     
END   


GO
