USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP03_250_APPLY]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: CROSS APPLY, OUTER APPLY 
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP03_250_APPLY]

----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
 
----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP03_250_APPLY]
AS
BEGIN
    CREATE TABLE #매출 (
        제품코드  NVARCHAR(30)
       ,년월      NVARCHAR(06) 
       ,매출수량  NUMERIC(18, 0) 
    )
    INSERT INTO #매출 (제품코드, 년월, 매출수량) VALUES ('A1', '202001', 10) 
                                                       ,('A2', '201911', 20) 
                                                       ,('A2', '201912', 30) 
                                                       ,('A3', '201901', 40) 
                                                       ,('A3', '202005', 50) 

    ---------------------------------------------------------------------------                                                        
    -- CROSS APPLY : 각 결과 행별 APPLY 관련 SQL결과가 자료 존재할 경우만 출력 
    ---------------------------------------------------------------------------                                                        
    SELECT A.제품코드, 
           매출수량합계 = SUM(A.매출수량),
           최초매출년월 = X.년월,
           최초매출수량 = X.매출수량 
      FROM #매출 A 
     CROSS APPLY (SELECT TOP 1 X.년월, X.매출수량  
                    FROM #매출 X  
                   WHERE X.제품코드 = A.제품코드
                     AND X.년월    >= '202001'
                   ORDER BY X.년월) X 
    GROUP BY A.제품코드, X.년월, X.매출수량   
    ORDER BY A.제품코드  

    ---------------------------------------------------------------------------                                                        
    -- OUTER APPLY : 각 결과 행별 APPLY 관련 SQL결과가 자료 존재 여부와 상관 없이 출력 
    ---------------------------------------------------------------------------                                                        
    SELECT A.제품코드, 
           매출수량합계 = SUM(A.매출수량),
           최초매출년월 = X.년월,
           최초매출수량 = X.매출수량 
      FROM #매출 A 
     OUTER APPLY (SELECT TOP 1 X.년월, X.매출수량  
                    FROM #매출 X  
                   WHERE X.제품코드 = A.제품코드
                     AND X.년월    >= '202001'
                   ORDER BY X.년월) X 
    GROUP BY A.제품코드, X.년월, X.매출수량 
    ORDER BY A.제품코드  

END   


GO
