USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP02_170_LOCK관리_20UPDATE]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*--------------------------------------------------------------------------------------------------
  작 성 일: 2019년 12월 28일 
  작 성 자: 김정현
  기    능: LOCK 관리 테스트 
----------------------------------------------------------------------------------------------------
  수정일    수정자    요청자    내용
----------------------------------------------------------------------------------------------------
EXEC [dbo].[SP02_170_LOCK관리_10기본자료생성]   -- 기본자료 생성은 최초 한번만 실행 요망 

EXEC [dbo].[SP02_170_LOCK관리_20UPDATE]

EXEC [dbo].[SP02_170_LOCK관리_30COMMIT]

----------------------------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP02_170_LOCK관리_20UPDATE]
AS
BEGIN

    -- 트랜잭션 시작 --------------------------------------
    BEGIN TRAN      

    -- UPDATE 실행 
    UPDATE A SET 
           A.수량 = A.수량 + 5 
      FROM T매출 A 
     WHERE A.일자 = '20200101'
       AND A.제품 = 'A1'
     
END   


GO
