USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP09_115_시스템정보관련권한설정]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 04일 
  작 성 자: 김정현
  기    능: 시스템 정보 활용을 위한 권한 설정 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------

EXEC [SP09_115_시스템정보관련권한설정]


--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP09_115_시스템정보관련권한설정]  
AS
BEGIN

    SET NOCOUNT ON

    ---------------------------------------------------------
    -- 시스템 정보 활용을 위한 권한 설정 
    -- (반드시 master DB에서 실행 해야 한다)
    --   
    -- Use master;
    -- GRANT VIEW SERVER STATE TO [로그인계정]
    ---------------------------------------------------------

    -- 권한을 부여할 로그인계정으로 수정 요망 
    EXEC ('USE master; 
           GRANT VIEW SERVER STATE TO [user1]')

END 
GO
