USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_230_사용자WHERE조건]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 사용자 WHERE 조건 입력 조회 
            문자조건 입력시에는 ['] 대신 ["] 입력 요망
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_230_사용자WHERE조건] 
           @IN_WHERE조건 = ' 매출금액 >= 100000 AND  매출금액 <= 200000 ' 
 
EXEC [dbo].[SP08_230_사용자WHERE조건] 
           @IN_WHERE조건 = ' 담당자코드 IN ("A1-1","A2-2") ' 


--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_230_사용자WHERE조건]  
       @IN_WHERE조건  NVARCHAR(200) 
AS
BEGIN
    SET NOCOUNT ON;   
    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    ----------------------------------------------------------------------
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0) )

    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-1',  90000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A1', 'A1-2', 150000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A2', 'A2-2', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A4', 'A4-1', 200000)

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    DECLARE @TXT_쿼리문장   NVARCHAR(1000) 

    SET @TXT_쿼리문장 = ' SELECT 부서코드, 담당자코드, 매출금액   
                            FROM #매출   
                           WHERE ' + @IN_WHERE조건 
                      + ' ORDER BY 부서코드, 담당자코드 '  

    -- 문자 입력시 ["] 를 [']로 일괄 변경 처리 
    SET @TXT_쿼리문장 = REPLACE(@TXT_쿼리문장, '"', '''')

    EXEC (@TXT_쿼리문장) 

END
GO
