USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_130_이익배분_일괄처리]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 이익배분 (일괄처리)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_130_이익배분_일괄처리]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_130_이익배분_일괄처리] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #담당자 (                
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
    )
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('A', 'A1')
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('A', 'A2')
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('B', 'B1')
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('B', 'B2')
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('C', 'C1')
    INSERT INTO #담당자 (부서코드, 담당자코드) VALUES ('C', 'C2')

    CREATE TABLE #매출 (
        부서코드        NVARCHAR(10),
        담당자코드      NVARCHAR(10),
        매출금액        NUMERIC(18,0),
        이익금액        NUMERIC(18,0) DEFAULT 0  -- 이익금액은 초기값 0
    )
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A', 'A1', 100000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('A', 'A2', 200000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('B', 'B1', 250000)
    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) VALUES ('B', 'B2', 500000)

    CREATE TABLE #이익 (                
        부서코드        NVARCHAR(10),
        이익금액        NUMERIC(18,0)
    )
    INSERT INTO #이익 (부서코드, 이익금액) VALUES ('A', 10000)
    INSERT INTO #이익 (부서코드, 이익금액) VALUES ('C', 30000)

    ----------------------------------------------------------------------
    -- 매출금액합계 계산 (비율 분모로 사용) ==> #매출합계 임시테이블 생성
    ----------------------------------------------------------------------
    SELECT A.부서코드, 
           매출합계금액 = ISNULL(SUM(B.매출금액), 0),
           담당자수     = COUNT(*)        -- 매출없는 담당자 배분 위해 계산 
      INTO #매출합계 
      FROM #담당자 A
      LEFT JOIN #매출 B ON A.부서코드 = B.부서코드 AND A.담당자코드 = B.담당자코드 
     GROUP BY A.부서코드 

    ----------------------------------------------------------------------
    -- 모든 부서,담당자 출력 필요해서 [담당자]테이블 기준으로 JOIN 임시테이블 생성 
    ----------------------------------------------------------------------
    SELECT A.부서코드, A.담당자코드, 
           매출금액     = ISNULL(B.매출금액, 0), 
           매출금액합계 = ISNULL(D.매출합계금액, 0), 
           이익금액합계 = ISNULL(C.이익금액, 0),
           부서담당자수 = D.담당자수, 
           이익배부금액 = CONVERT(NUMERIC(18, 0), 0)   -- 실배부금액 저장용(초기값: 0)
      INTO #배부결과   
      FROM #담당자 A
      LEFT JOIN #매출 B     ON A.부서코드 = B.부서코드 AND A.담당자코드 = B.담당자코드 
      LEFT JOIN #이익 C     ON A.부서코드 = C.부서코드 
      LEFT JOIN #매출합계 D ON A.부서코드 = D.부서코드 

    ----------------------------------------------------------------------
    -- 배부 일괄처리 
    ----------------------------------------------------------------------
    UPDATE A SET 
            A.이익배부금액 = IIF(A.매출금액합계 = 0, A.이익금액합계 * (      1.0 / A.부서담당자수),
                                                    A.이익금액합계 * (A.매출금액 / A.매출금액합계))
        FROM #배부결과 A 

    ----------------------------------------------------------------------
    -- 최종 결과 출력 
    ----------------------------------------------------------------------
    SELECT A.부서코드,     A.담당자코드, A.이익금액합계, 
           A.매출금액합계, A.매출금액,   A.이익배부금액
      FROM #배부결과 A 
     ORDER BY A.부서코드, A.담당자코드 

END
GO
