USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_170_부서별소계합계_ROLLUP]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 01일 
  작 성 자: 김정현
  기    능: 부서별 실적, 소계, 전체합계 출력 (ROLLUP)
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------
EXEC [dbo].[SP08_170_부서별소계합계_ROLLUP]
 
--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_170_부서별소계합계_ROLLUP] 
AS
BEGIN

    SET NOCOUNT ON;   

    ----------------------------------------------------------------------
    -- 실습을 위한 테이블 생성 및 자료 입력 
    -- 임시적 사용을 위해 임시테이블로 생성함 
    ----------------------------------------------------------------------
    CREATE TABLE #매출 (
        부서코드        NVARCHAR(20),
        담당자코드      NVARCHAR(20),
        매출금액        NUMERIC(18,0) )

    INSERT INTO #매출 (부서코드, 담당자코드, 매출금액) 
         VALUES ('A1', 'A1-1',  90000)
               ,('A1', 'A1-2', 150000)
               ,('A2', 'A2-1', 250000)
               ,('A2', 'A2-2', 100000)
               ,('A4', 'A4-1', 200000)

    ----------------------------------------------------------------------
    -- #결과 생성 및 소계, 전체합계 추가 (ROLLUP)
    ----------------------------------------------------------------------
    SELECT A.부서코드, A.담당자코드, 
           매출금액     = SUM(A.매출금액),
           전체그룹여부 = GROUPING(A.부서코드),  --전체합계행 1 아니면 0 
           부서그룹여부 = GROUPING(A.담당자코드) --부서합계행 1 아니면 0 
      INTO #결과  
      FROM #매출 A 
     GROUP BY ROLLUP (A.부서코드, A.담당자코드)

    -- ROLLUP된 집계자료 부서코드, 담당자코드 NULL값 UPDATE 
    UPDATE A SET 
           A.부서코드   = IIF(A.전체그룹여부 = 1 AND A.부서그룹여부 = 1, '전체합계', A.부서코드),
           A.담당자코드 = IIF(A.전체그룹여부 = 0 AND A.부서그룹여부 = 1, '소계', '')
      FROM #결과 A 
     WHERE A.부서그룹여부 = 1 

    ----------------------------------------------------------------------
    -- #결과 조회 
    ----------------------------------------------------------------------

    SELECT A.부서코드, A.담당자코드, A.매출금액, 전체그룹여부, 부서그룹여부  
      FROM #결과 A

END
GO
