USE [TEST1]
GO
/****** Object:  StoredProcedure [dbo].[SP08_215_전표번호순서짝수홀수표시]    Script Date: 2020-11-06 오전 9:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------
  작 성 일: 2020년 02월 04일 
  작 성 자: 김정현
  기    능: 전표번호 순서별로 [짝수],[홀수] 표시 
            SELECT시 전표번호별 음영 표시 위해 짝수,홀수 출력
            -전표별 건수가 다른 문제를 해결 해야 한다 
--------------------------------------------------------
  수정일    수정자    요청자    내용

--------------------------------------------------------

EXEC [SP08_215_전표번호순서짝수홀수표시]


--------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP08_215_전표번호순서짝수홀수표시]  
AS
BEGIN

    CREATE TABLE #전표 (
        전표번호   NVARCHAR(30) NOT NULL
       ,제품코드   NVARCHAR(30) NOT NULL
       ,매출수량   NUMERIC(18, 0) 
       ,PRIMARY KEY (전표번호, 제품코드)
    )
    INSERT INTO #전표 (전표번호, 제품코드, 매출수량) 
               VALUES ('전표1', 'A1', 10),('전표1', 'A2', 20),('전표1', 'A3', 30) 
                     ,('전표2', 'A1', 10),('전표2', 'A2', 20) 
                     ,('전표3', 'A1', 10),('전표3', 'A2', 20),('전표3', 'A3', 30) 
                     ,('전표4', 'A1', 10)

    ------------------------------------------------------------------
    -- 방법1 : SELECT내에서 COUNT()와 IIF 사용 
    ------------------------------------------------------------------
    SELECT A.전표번호, A.제품코드, A.매출수량 
          ,짝홀수 = IIF((SELECT COUNT(DISTINCT X.전표번호)  
                           FROM #전표 X 
                          WHERE X.전표번호 <= A.전표번호) % 2 = 1, '홀수', '짝수')
      FROM #전표 A 
     ORDER BY A.전표번호, A.제품코드

    ------------------------------------------------------------------
    -- 방법2 : SELECT문장을 FROM절에 추가 
    ------------------------------------------------------------------
    -- 전표번호별 GROUP화 및 순번 처리 
    SELECT A.전표번호, A.제품코드, A.매출수량, B.짝홀수  
      FROM #전표 A 
     INNER JOIN (SELECT A.전표번호
                       ,짝홀수 = IIF(ROW_NUMBER() OVER (ORDER BY A.전표번호) % 2 = 1, '홀수', '짝수')
                   FROM #전표 A
                  GROUP BY A.전표번호) B ON A.전표번호 = B.전표번호 
     ORDER BY A.전표번호, A.제품코드


    ------------------------------------------------------------------
    -- 방법3 : CROSS APPLY 활용 
    ------------------------------------------------------------------
    SELECT A.전표번호, A.제품코드, A.매출수량 
          ,짝홀수 = IIF(B.전표수 % 2 = 1, '홀수', '짝수')
      FROM #전표 A 
    CROSS APPLY (SELECT 전표수 = COUNT(DISTINCT X.전표번호)  
                           FROM #전표 X 
                          WHERE X.전표번호 <= A.전표번호) B
      ORDER BY A.전표번호, A.제품코드;


    ------------------------------------------------------------------
    -- 방법4 : WITH 임시테이블을 활용 
    --         이전 실행문장과 해당 실행문장 끝에 [;] 필요할 수 있다  
    ------------------------------------------------------------------
    WITH Q 
    AS (SELECT A.전표번호
              ,짝홀수 = IIF(ROW_NUMBER() OVER (ORDER BY A.전표번호) % 2 = 1, '홀수', '짝수') 
          FROM #전표 A 
        GROUP BY A.전표번호
    )
    SELECT A.전표번호, A.제품코드, A.매출수량 
          ,Q.짝홀수 
      FROM #전표 A 
     INNER JOIN Q ON A.전표번호 = Q.전표번호 
     ORDER BY A.전표번호, A.제품코드;

    ------------------------------------------------------------------
    -- 방법5 : 임시테이블 활용 
    ------------------------------------------------------------------

    -- [#전표짝홀] 임시테이블 생성 
    SELECT A.전표번호
          ,짝홀수 = IIF(ROW_NUMBER() OVER (ORDER BY A.전표번호) % 2 = 1, '홀수', '짝수') 
      INTO #전표짝홀 
      FROM #전표 A 
    GROUP BY A.전표번호
    
    SELECT A.전표번호, A.제품코드, A.매출수량 
          ,B.짝홀수 
      FROM #전표 A 
     INNER JOIN #전표짝홀 B ON A.전표번호 = B.전표번호 
     ORDER BY A.전표번호, A.제품코드;



END; 
GO
