<!DOCTYPE html>
<html ng-app='ezch_tbl_editor_app'>
	<head>
		<script data-require='jquery@*' data-semver='2.1.1' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>                          
		<link rel='stylesheet' href='../../lib/bootstrap/dist/css/bootstrap.min.css'>
		<link rel='stylesheet' href='../../lib/spreadjs/15.2.2/css/gc.spread.sheets.excel2016colorful.15.2.2.css' />
		<script src='../../lib/jquery/dist/jquery.min.js'></script> 
		<script src='../../lib/bootstrap/dist/js/bootstrap.bundle.min.js'></script> 
		<script src='../../lib/spreadjs/15.2.2/scripts/gc.spread.sheets.all.15.2.2.min.js'></script>
		<link rel='stylesheet' href='/resource/css/db_edit_style.css' /> 
		<base href='/app/'> 
	</head>
	<body>
	<div ng-controller='ezch_tbl_editor_appCtrl'>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">{{ user_DB }}</a> 	
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggle-icon"></span>
				</button> 	
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">테이블생성기<span class="sr-only">( current )</span></a> 
						</li> 	
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
								편집리스트
							</a>	
							<div class="dropdown-menu">
							 <a class="dropdown-item" ng-repeat="edit_list in edit_lists" ng-click="edit_list_click( edit_list.configName , $event )" data-toggle="tooltip" title="Ctrl 키와 클릭시 새창열기">{{ edit_list.configName }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">기본편집기</a>  
							</div>	
						</li>	
					</ul>	
					<form class="form-inline my-2 my-lg-0">
						<button class='btn  btn-sm btn-outline-secondary btn-block'><a href='javascript:closeWindow()'>Close</a></button>
					</form>	
			</nav>	
		<div class='wrapper'> 
			<!-- Sidebar -->
			<!-- Page Content -->
			<div id='content'>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid row">
						<div class='input-group col-md-2 mx-0 px-0'>
							<div class="input-group-prepend">
							    <label class="input-group-text" for="inputGroupSelect01">DB</label>
							 </div>
							  <select class="custom-select" id="inputGroupSelect01" ng-disabled="isDbSelectionDisabled">
							    <option selected>{{ user_DB }}</option>
							    <option value="common">Common</option>
							    <option value="config">Config</option>
							    <option value="ezoffice">ezoffice</option>
							    <option value="ezchemtech">ezchemtech</option>
							    <option value="demo">demo</option>
							    <option value="orientpi">orientpi</option>
							  </select>
						</div>
						<div class='col-md-1'>
							<h5><span class='badge badge-secondary mx-3'>Collection</span>디자인</h5>
						</div>
						<div class='col-md-1'>
							<h6><span class='badge badge-secondary mx-3'>App</span>Table_editor</h6>
						</div>
						<div class='col-md-2'>
							<h6><span class='badge badge-secondary mx-3'>Conf</span>{{ cur_config_name }}</h6>
						</div>
					<div class='col-md-4 mt-3'>
						<div class='alert alert-block'  ng-class='{ "alert-success":  alert_info_message.class == "success", "alert-warning": alert_info_message.class == "warning" }' role="alert" ng-hide='server_check' ng-init="alert_info_message.message ='Alert Message'; alert_info_message.class = 'warning'">
							{{ alert_info_message.message }} 

						</div>		
					</div>
					</div>
				</nav>
				<div id='appWrapper' class='mx-2 px-2'>
					<div ng-show='!mode' class='ml-1 pl-1'>	
						<my-spreadjs></my-spreadjs>
					</div>
				</div>
			</div>
		</div>
			<my-footer></my-footer> 
		</div>	
	    <script src='/lib/angular/angular.js'></script> 
		<script src='/lib/angular-route/angular-route.js'></script> 
		<script src='/lib/angular-cookies/angular-cookies.js'></script> 
		<script src='/lib/socket.io/client-dist/socket.io.js'></script> 

		<script src='/app/ezch_tbl_editor_app/parts/mainbuttons/index.js'></script> 
		<script src='/app/ezch_tbl_editor_app/parts/footers/index.js'></script> 
		<script src='/app/ezch_tbl_editor_app/parts/spreads/index.js'></script> 
		<script src='/app/ezch_tbl_editor_app/app.js'></script>
		<script src='/app/ezch_tbl_editor_app/service/spreadjs/filters/index.js'></script> 
		<script src='/app/ezch_tbl_editor_app/service/spreadjs/events/index.js'></script> 
		<SCRIPT src='/app/ezch_tbl_editor_app/service/spreadjs/sheetFormat/index.js'></script>
	        <SCRIPT src='/app/ezch_tbl_editor_app/service/spreadjs/sheetLock/index.js'></script>
		<SCRIPT src='/app/ezch_tbl_editor_app/service/spreadjs/formulas/index.js'></script>
		<SCRIPT src='/app/ezch_tbl_editor_app/service/spreadjs/product/spreadjs/index.js'></script>
		<script src='/service/spreads/index.js'></script> 

		<script src='/app/ezch_tbl_editor_app/service/async_job/index.js'></script> 
		<script src='/app/ezch_tbl_editor_app/service/custom/ezch_tbl_editor_app/index.js'></script> 
		<script language="javascript" type="text/javascript">
		   var old_tbl_editor_flag = 0 	
		   function closeWindow() {
		   window.open('','_parent','');
		   window.close();
		   }
		</script>
	</body>	
</html>
