$Grassy-Green:#9bc400;
$Purple-Mountains-Majesty:#8076a3;
$Misty-Mountain-Pink:#f9c5bd;
$Factory-Stone-Purple:#7c677f;
$Green-Treeline:#478559;
$Purple-baseline:#161748;
$Pink-highlight:#f95d9b;
$Bluewater-lowlight:#39a0ca;
$Background-Tan:#fceed1;
$Purple-y:#7d3cff;
$Yellow-Gloves:#f2d53c;
$Redhead:#c80e13;
$Ice-Cold:#a0d2eb;
$Freeze-Purple:#e5eaf5;
$Medium-Purple:#d0bdf4;
$Purple-Pain:#8458B3;
$Heavy-Purple:#a28089;
$EZoffice_c_1:#9a89c6;
$EZoffice_c_2:#57438c;
$EZoffice_c_3:#2b2146;
$EZoffice_c_1:#bbb3d1;

