@import './basics/flex_macro.scss';
@import './basics/size_mg_pd_ft.scss';
@import 'color_schemes.scss';
$action-btn-bc:$Background-Tan; 
@import './controls/button_macro.scss';
$Select_01_op_bc:$Background-Tan; 
$Select_01_op_c:$Heavy-Purple; 
@import './controls/control_select_macro.scss';
$Rwd_table_th_bc:$Heavy-Purple;
$Rwd_table_tr_bc:$Background-Tan; 
@import './controls/table_macro.scss';
