<DIV class='justify-content-center' ng-if='isCmdInput_enabled'>                                                                
	<form>                                                                                           
		    <DIV class='row'>                                                                     
					<label for='cmdInput' class='text-right col-md-2'>CmdInput</label>                           
					<input type='TEXT' class='col-md-4 form-control' id='cmdInput' ng-model='cmdInput.txt'>          
					<button class='btn btn-info col-md-2 form-control' ng-click='execCmd()'>ExecCmd</button>  
		    </DIV>               
	</form>                                                                                          
	</DIV> 
