<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
<!--	
    <link rel="stylesheet" href="/resource/css/sidebars.css"> 
-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src='/lib/jquery/dist/jquery.min.js'></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<style>
body {
	font-family:'Noto Sans KR', 'Raleway', sans-serif;
	}
	.r-2{
	  position: absolute ;
	  right: 35%;
	  top: 0;
	}
	/* override  .login-form padding-bottom */
	.login-form {
		padding-bottom: 200px ;
	}
	.btn-secondary{
	   background-color: rgba( 120, 20 , 140, 1 );
	   border-color: rgba( 60,10,70,1 );
	}
	.btn-secondary:hover .btn-secondary:focus{
	   background-color: rgba( 230, 140 , 255, 1 );
	}
	.nav-pills .nav-link.active{
	   background-color: rgba( 120, 20 , 140, 1 );
	}
	.fit_size{
	   pointer-events: none;
	   width: 120px;
	   transform: scale(9) translateY(11px);
	}
	.nav-link:hover{
	   font-size: 18px;
	   color: orange;
	}
	.pointer_events_none{
	   pointer-events: none;
	}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <title>EZ Office</title>
</head>
<body>
	<nav class="navbar fixed-top  navbar-expand-lg navbar-light navbar-laravel">
		<div class="container">
			<a class="navbar-brand" href="#">EZ Office <span class="h5"> 웹정보 시스템</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item" ng-click='setCurView("login")'>
						<a class="nav-link" href="#">Login</a>
					</li>
					<li class="nav-item" ng-click='setCurView("register")'>
						<a class="nav-link" href="#register_form">등록</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/public/bullentinboard/">게시판</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://ez-office.co.kr">홈페이지</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="vh-100"> 
		<!-- login module  <my-login></my-login> --> 
		<div class="login-form pd-200">
			<div class="d-flex justify-content-center align-items-center" style="height: 80vh">
				<div class="row justify-content-center" style="width:70%">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header">LogIn</div>
							<div class="card-body">
								<!--	
			<form action="/user/login_ack" method="POST" name='myForm'>
								-->
								<form>
									<div class="mb-3 row">
										<label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
										<div class="col-md-6">
											<input type="email" id="email_address" class="form-control" name="email_address" required autofocus>
										</div>
									</div>
									<div class="mb-3 row">
										<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
										<div class="col-md-6">
											<input type="password" id="password" class="form-control" name="password" required>
										</div>
									</div>
									<div class="mb-3 row">
										<div class="col-md-6 offset-md-4">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="remember"> Remember Me
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-6 offset-md-4">
										<button type="button" id="btn_login" ng-click='getLogin( user_id , user_password )'  class="btn btn-secondary">
											LogIn
										</button>
										<a href="#" class="btn btn-link">
											Forgot Your Password?
										</a>
									</div>
							</div>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<main class="my-form vh-100" id="register_form">
		<div class="d-flex justify-content-center align-items-center" style="height: 80vh">
			<div class="row justify-content-center" style="width:70%" >
				<div class="col-md-8">
						<div class="card">
							<div class="card-header">Register</div>
							<div class="card-body">
								<form name="my-form" onsubmit="return validform()" action="/user/register_ack" method="GET">
									<div class="form-group row mb-3">
										<label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
										<div class="col-md-6">
											<input type="text" id="full_name" class="form-control" name="full_name">
										</div>
									</div>
									<div class="form-group row mb-3">
										<label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
										<div class="col-md-6">
											<input type="text" id="email_address" class="form-control" name="email_address">
										</div>
									</div>

									<div class="form-group row mb-3">
										<label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
										<div class="col-md-6">
											<input type="text" id="user_name" class="form-control" name="username">
										</div>
									</div>

									<div class="form-group row mb-3">
										<label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
										<div class="col-md-6">
											<input type="text" id="phone_number" class="form-control">
										</div>
									</div>

									<div class="form-group row mb-3">
										<label for="present_address" class="col-md-4 col-form-label text-md-right">Present Address</label>
										<div class="col-md-6">
											<input type="text" id="present_address" class="form-control">
										</div>
									</div>

									<div class="form-group row mb-3">
										<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Permanent Address</label>
										<div class="col-md-6">
											<input type="text" id="permanent_address" class="form-control" name="permanent_address">
										</div>
									</div>

									<div class="form-group row mb-3">
										<label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
													title="National Id Card">NID</abbr> Number</label>
										<div class="col-md-6">
											<input type="text" id="nid_number" class="form-control" name="nid_number">
										</div>
									</div>

										<div class="col-md-6 offset-md-4">
											<button type="submit" class="btn btn-secondary">
											Register
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
				</div>
			</div>
		</div>
	</main>
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"></h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="exampleModalContent">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
	<script src="app.js"></script> 
</body>
</html>
