<div class='container-fluid'>
	<h1 class='d-flex justify-content-center' style='color:orange'>MASS UPLOAD</h1>
<div class='row'>	
<div class='col-md-1'></div>
<button class='btn btn-secondary_sheet text-dark col-md-2' ng-click='ExportFile()'>FileDownLoad</button>
<div class='col-md-4'>
	<input type="file" name="files[]" id="fileDemo" accept=".xlsx"/>
	<button class='btn btn-secondary_sheet' ng-click='ImportFile()'>File업로드</button>
</div>	
<button class='btn btn-secondary_sheet col-md-2' ng-click='DBUpload()'>DB업로드</button>
<!--				
<button class='btn btn-secondary_sheet col-md-2'><a ui-sref='home'>Cancel</a></button>
-->				
<button class='btn btn-secondary_sheet col-md-2'><a ng-click='Cancel()'>Cancel</a></button>
</div>	
<hr>
<div id='ss_upload' style='height:700px; width:100%'></div> 
</div>
