<!DOCTYPE html>
<html ng-app='ezch_tbl_maker'>
	<head>
		<link rel='stylesheet' href='../../lib/bootstrap/dist/css/bootstrap.min.css'>
		<link rel='stylesheet' href='../../lib/spreadjs/15.2.2/css/gc.spread.sheets.excel2016colorful.15.2.2.css' />
		<script src='../../lib/jquery/dist/jquery.min.js'></script> 
		<script src='../../lib/bootstrap/dist/js/bootstrap.bundle.min.js'></script> 
		<script src='../../lib/spreadjs/15.2.2/scripts/gc.spread.sheets.all.15.2.2.min.js'></script>
		<style>
				.btn-secondary{
					background-color: rgba( 120, 20 , 140, 1 );
					border-color: rgba( 60,10,70,1 );
				}
			   .btn-secondary:hover, .btn-secondary:focus{
				   background-color: rgba( 230, 140 , 255, 1 );
			   }
			   .float_full_icon{
				   z-index: 104;
				   position: absolute;
				   top: 5%;
				   left: 10%;
			   }
			   .fit_size{
				   pointer-events: none;
				   width: 120px;
				   transform: scale(9) translateY(11px);
			   }
			   .nav-link:hover{
				   font-size: 18px;
				   color: orange;
			   }
			   .pointer_events_none{
				   pointer-events: none;
			   }
		</style> 
	</head>
	<body>
		<div ng-controller='ezch_tbl_makerCtrl'>
			<div class="float_full_icon btn btn-secondary" ng-click="header_show =( header_show +1 )%2">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 13.6V21H3.6a.6.6 0 0 1-.6-.6V13h7.4a.6.6 0 0 1 .6.6Zm0 7.4h3M3 13v-3m3-7H3.6a.6.6 0 0 0-.6.6V6m11-3h-4m11 7v4M18 3h2.4a.6.6 0 0 1 .6.6V6m-3 15h2.4a.6.6 0 0 0 .6-.6V18m-10-8h3v3"/></svg>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-show="header_show" ng-init="header_show = 1">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img class="fit_size" src="/resource/homepage/img/EZoffice_title.svg" />
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 8h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2Zm18 8H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Zm0-5H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Z"/></svg>
					</a>
					<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
						<ul class="navbar-nav mb-2 mb-lg-0 d-flex">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" ng-href='{{ hrefs.tbl_editor }}'>Table 편집기</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" aria-current="page">Table 생성기</a>
							</li>
							<li>
							</li>
						</ul>
						<form class="d-flex">
							<button class='btn  btn-secondary btn-outline-secondary btn-block text-white'><a class="text-white" href='javascript:closeWindow()'>
									<svg  class="pointer_events_none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="currentColor" d="M469.3 469.3H42.7V42.7H256L298.7 0h-256C19.1 0 0 19.1 0 42.7v426.7C0 492.9 19.1 512 42.7 512h426.7c23.6 0 42.7-19.1 42.7-42.7V320l-42.7 42.7v106.6zm-384-42.6C149.1 255.7 234.7 256 362.7 256v85.3L512 192L362.7 42.7V128C85.3 128 85.1 341.1 85.3 426.7z"/></svg>
								</a></button>
						</form>
					</div>
				</div>
			</nav>
			<div id='content'>
				<nav class='navbar navbar-expand-lg navbar-light bg-light'>
					<div class='container-fluid row'>
						<div class='input-group col-md-2 mx-0 px-0'>
							  <div class="input-group-prepend">
							      <label class="input-group-text" for="inputGroupSelect01">DB</label>
							  </div>
							    <select class="custom-select" id="inputGroupSelect01" ng-disabled="isDbSelectionDisabled" ng-model="user_DB">
								 <option ng-repeat="db in user_DBs">{{ db.name }}<option>      	
<!--									
							      <option selected>{{ user_DB }}</option>
							      <option value="common">Common</option>
							      <option value="config">Config</option>
							      <option value="ezoffice">ezoffice</option>
							      <option value="ezchemtech">ezchemtech</option>
							      <option value="orientpi">orientpi</option>
	     					      <option value="demo">demo</option>
-->								  
							    </select>
						</div>
						<div class='col-md-2'>
							<h5><span class='badge badge-secondary mx-3'>Collection</span>디자인</h5>
						</div>
						<div class='col-md-2'>
							<h5><span class='badge badge-secondary mx-3'>App</span>테이블 생성기</h5>
						</div>
						<div class='col-md-4'>
							<div class='alert alert-block' ng-class="{'alert-success': alert_info_message.class == 'success', 'alert-warning': alert_info_message.class == 'warning' }" role='alert' ng-init="alert_info_message.message ='Alert Message'; alert_info_message.class = 'warning'">
							{{ alert_info_message.message }}
							</div>
						</div> 	
					</div>	
				</nav>
				<my-spreadjs></my-spreadjs>
			</div>	
		</div>	
		<script>
			function closeWindow(){
				window.open('','_parent','');
				window.close();
			}
		</script>
	</body>	
	<script src='../../lib/angular/angular.min.js'></script>
	<script src='../../lib/angular-route/angular-route.js'></script> 
	<script src='../../lib/angular-cookies/angular-cookies.js'></script>
	<script src='../../parts/spreadjs/index.js'></script>
	<script src='../../service/spreads/product/spreadjs/index.js'></script> 
	<script src='../../service/spreads/custom/ezch_tbl_maker/index.js'></script> 
<!--	<script src='../../service/spreadjs/events/index.js'></script> -->
	<script src='app.js'></script> 
</html>
