  <DIV class='justify-content-center' ng-if='isCmdInput_enabled'>                                                                
	  <!--	<DIV><h3>App-name: {{ tbl_name }} </h3></DIV>                                                    -->
	<form name='myForm' class="row g-3">
		<div class="col-md-2">
			<label for="staticEmail2" class="visually-hidden">Cmd</label>
			<input type="text" readonly class="text-end form-control-plaintext" id="staticEmail2" value="cmdInput">
		</div>
		<div class="col-md-4">
			<label for="inputCmd" class="visually-hidden">Password</label>
			<input type="text" class="text-end form-control" id="inputCmd" placeholder="command" ng-model='cmdInput.txt'>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary mb-3" ng-click='execCmd()'>ExecCmd</button>
			<span   ng-show='myForm.cmdInput_txt.$valid'><strong>적합한 명령어입니다.  {{ cmdInput_txt_comment }} </strong></span>
		</div>
	</form>                                                                                          
	</DIV> 
