  <DIV class='justify-content-center' ng-if='isCmdInput_enabled'>                                                                
	  <!--	<DIV><h3>App-name: {{ tbl_name }} </h3></DIV>                                                    -->
	<form name='myForm' class="row g-3">
		<div class="col-md-2">
			<label for="staticEmail2" class="visually-hidden">Cmd</label>
			<input type="text" readonly class="text-end form-control-plaintext" id="staticEmail2" value="cmdInput">
		</div>
		<div class="col-md-4">
			<label for="inputPassword2" class="visually-hidden">Password</label>
			<input type="password" class="form-control" id="inputPassword2" placeholder="command" ng-model='cmdInput.txt'>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary mb-3" ng-click='execCmd()'>ExecCmd</button>
			<span   ng-show='myForm.cmdInput_txt.$valid'><strong>적합한 명령어입니다.  {{ cmdInput_txt_comment }} </strong></span>
		</div>
<!--		
		    <DIV class='form-group row' ng-if='openFile'>                                                     

					<label for='file' class='text-right col-md-2'>openFile</label>                           
					<input type='file' id='file' name='file' class='col-md-2 form-control' enctype='multipart/form-data' onchange='angular.element(this).scope().readFile(this)' />
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='execCancel()'>Cancel</button>  
         	</DIV> 
		    <DIV class='form-group row' ng-if='inputCmd'>                                                                     
				<label for='cmdInput' class='text-right col-md-2'>{{ cmdInput_title }}</label>                           
				<input type='TEXT' class='form-control' ng-class="{'col-md-6': cmdInput_readMode == 1 , 'col-md-4': cmdInput_readMode == 0 }"  id='cmdInput' name='cmdInput_txt' cmd-text ng-model='cmdInput.txt' ng-disabled='cmdInput_readMode'>           
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='execCmd()' ng-if='!cmdInput_readMode'>ExecCmd</button>
					<span  ng-if='!cmdInput_readMode' ng-show='myForm.cmdInput_txt.$valid'><strong>적합한 명령어입니다.  {{ cmdInput_txt_comment }} </strong></span>
			</DIV>               
-->		
<!--			
		    <DIV class='form-group row' ng-if='inputFormula'>                                                                     
					<label for='cmdInput' class='text-right col-md-2'>input formula expression:</label>                           
					<input type='TEXT' class='col-md-4 form-control' id='cmdInput' ng-model='cmdInput.formula'>          
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='saveFormula()'>Save</button>  
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='execCancel()'>Cancel</button>  
			</DIV>               
		    <DIV class='form-group row' ng-if='inputPandas'>                                                                     
					<label for='cmdInput' class='text-right col-md-1'>Pandas expression:</label>                           
					<input type='TEXT' class='col-md-7 form-control' id='cmdInput' ng-model='cmdInput.pandas'>          
					<button class='myButton btn btn-info col-md-1 form-control mx-1' ng-click='execPandas()'>ExcQuery</button>  
					<button class='myButton btn btn-info col-md-1 form-control mx-1' ng-click='execCancel()'>Cancel</button>  
			</DIV>               
		    <DIV class='form-group row' ng-if='inputSql'>                                                                     
					<label for='cmdInput' class='text-right col-md-1'>SQL expr[dbName#sql_state]:</label>                           
					<input type='TEXT' class='col-md-7 form-control' id='cmdInput' ng-model='cmdInput.sql'>          
					<button class='myButton btn btn-info col-md-1 form-control mx-1' ng-click='execSql()'>ExcQuery</button>  
					<button class='myButton btn btn-info col-md-1 form-control mx-1' ng-click='execCancel()'>Cancel</button>  
			</DIV>               
			<div ng-if='inputTypes[1]'> 
				<div class='row' >
					<ul id='' class='col-md-3' ng-repeat='item in inputType_data[1]'>
						<div class='form-group row'>	
							<label for='cmdInput' class='col-md-2'>{{ item.title }}</label><input type='{{ item.type}}' id='cmdInput' class='col-md-6  form-control' ng-model='item.data'> 
						</div>
					</ul>
				</div>	
				<div class='row'>	
					<div class='col-md-7'>
					</div>
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='execApply(1)'>적용</button>  
					<button class='myButton btn btn-info col-md-2 form-control mx-1' ng-click='execCancel(1)'>Cancel</button>  
				</div>
			</div> 
-->			
	</form>                                                                                          
	</DIV> 
