@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  font-family: 'Open Sans', sans-serif; }

/*
	rwd Table. 
*/
.rwd-table {
  /*  margin: auto; */
  margin: 20px 0;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse; }

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff; }

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc; }

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9; }

.rwd-table th {
  display: none; }

.rwd-table td {
  display: block; }

.rwd-table td:first-child {
  margin-top: .5em; }

.rwd-table td:last-child {
  margin-bottom: .5em; }

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000; }

.rwd-table th,
.rwd-table td {
  text-align: left; }

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden; }

.rwd-table tr {
  border-color: #bfbfbf; }

.rwd-table th,
.rwd-table td {
  padding: .5em 1em; }

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none; } }

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3; }
  .rwd-table td:before {
    display: none; }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em; }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0; }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0; }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important; } }

/*
	sec_table
*/
.sec_table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  width: 100%; }

.sec_table th,
.sec_table td {
  padding: 6px 15px; }

.sec_table th {
  background: #42444e;
  color: #fff;
  text-align: left; }

.sec_table tr:first-child th:first-child {
  border-top-left-radius: 6px; }

.sec_table tr:first-child th:last-child {
  border-top-right-radius: 6px; }

.sec_table td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc; }

.sec_table td:first-child {
  border-left: 1px solid #c6c9cc; }

.sec_table tr:nth-child(even) td {
  background: #eaeaed; }

.sec_table tr:last-child td:first-child {
  border-bottom-left-radius: 6px; }

.sec_table tr:last-child td:last-child {
  border-bottom-right-radius: 6px; }

/* IE */
select::-ms-expand {
  display: none; }

.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  height: 35px;
  background: url("https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png") calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none; }

.select option {
  background: black;
  height: 35px;
  color: #fff;
  padding: 3px 0; }

.in-width-c1000 {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px); }

.in-width-c1200 {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px); }

.in-width {
  margin-left: auto;
  margin-right: auto; }

.in-width.wide {
  max-width: 1400px; }

.mx1400 {
  max-width: 1400px; }

.mx1200 {
  max-width: 1200px; }

.mx1000 {
  max-width: 1000px; }

.mx170 {
  max-width: 170px; }

.mx200 {
  max-width: 200px; }

.mx250 {
  max-width: 250px; }

.mx400 {
  max-width: 400px; }

.mx450 {
  max-width: 450px; }

.mx540 {
  max-width: 540px; }

.mx600 {
  max-width: 600px; }

.mx700 {
  max-width: 700px; }

.mx800 {
  max-width: 800px; }

.min400 {
  min-width: 400px; }

.ftxl {
  font-size: 2.8em; }

.ftl {
  font-size: 2.4em; }

.ft0 {
  font-size: 2em; }

.ft1 {
  font-size: 1.8em; }

.ft2 {
  font-size: 1.6em; }

.ft3 {
  font-size: 1.3em; }

.ft4 {
  font-size: 1.12em; }

.ft5 {
  font-size: .8em; }

.ft6 {
  font-size: .6em; }

.ft14 {
  font-size: 1.4em; }

.ft-sb {
  font-weight: 400; }

.ft-b {
  font-weight: 600; }

.ft-st {
  font-weight: 900; }

.ft-wh {
  color: #fff; }

.ft-gr {
  color: #999; }

.ft-lg {
  color: #c1c1c1; }

.ft-gr0 {
  color: #777; }

.ft-c0 {
  color: #097168; }

.ft-c1 {
  color: #F2845C; }

.lh-12 {
  line-height: 1.2; }

.lh-14 {
  line-height: 1.4; }

.lh-16 {
  line-height: 1.6; }

.lh-18 {
  line-height: 1.8; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-underline {
  text-decoration: underline; }

.w20 {
  width: 20%; }

.w25 {
  width: 25%; }

.w30 {
  width: 30%; }

.w33 {
  width: 33.333%; }

.w40 {
  width: 40%; }

.w45 {
  width: 45%; }

.w50 {
  width: 50%; }

.w55 {
  width: 55%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w100 {
  width: 100%; }

.w50p {
  width: 50px;
  flex-basis: 50px; }

.h100 {
  height: 100%; }

.h600p {
  height: 600px; }

.mg-s0 {
  margin-left: 0;
  margin-right: 0; }

.mg-20 {
  margin: 20px; }

.mg-t20m {
  margin-top: -20px; }

.mg-t60m {
  margin-top: -60px; }

.mg-t5 {
  margin-top: 5px; }

.mg-10 {
  margin: 10px; }

.mg-h10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mg-s10 {
  margin-left: 10px;
  margin-right: 10px; }

.mg-t10 {
  margin-top: 10px; }

.mg-t20 {
  margin-top: 20px; }

.mg-h20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mg-t40 {
  margin-top: 40px; }

.mg-h40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mg-t60 {
  margin-top: 60px; }

.mg-h60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mg-t80 {
  margin-top: 80px; }

.pd-b2 {
  padding-bottom: 2px; }

.pd-5 {
  padding: 5px; }

.pd-t5 {
  padding-top: 5px; }

.pd-h5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pd-r5 {
  padding-right: 5px; }

.pd-b5 {
  padding-bottom: 5px; }

.pd-10 {
  padding: 10px; }

.pd-h10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pd-s10 {
  padding-left: 10px;
  padding-right: 10px; }

.pd-t10 {
  padding-top: 10px; }

.pd-b10 {
  padding-bottom: 10px; }

.pd-r15 {
  padding-right: 15px; }

.pd-t15 {
  padding-top: 15px; }

.pd-b15 {
  padding-bottom: 15px; }

.pd-20 {
  padding: 20px; }

.pd-l20 {
  padding-left: 20px; }

.pd-r20 {
  padding-right: 20px; }

.pd-b20 {
  padding-bottom: 20px; }

.pd-s20 {
  padding-right: 20px;
  padding-left: 20px; }

.pd-t20 {
  padding-top: 20px; }

.pd-h20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pd-30 {
  padding: 30px; }

.pd-t30 {
  padding-top: 30px; }

.pd-40 {
  padding: 40px; }

.pd-r40 {
  padding-right: 40px; }

.pd-t40 {
  padding-top: 40px; }

.pd-b40 {
  padding-bottom: 40px; }

.pd-h40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pd-s40 {
  padding-left: 40px;
  padding-right: 40px; }

.pd-60 {
  padding: 60px; }

.pd-r60 {
  padding-right: 60px; }

.pd-t60 {
  padding-top: 60px; }

.pd-b60 {
  padding-bottom: 60px; }

.pd-h60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.pd-s60 {
  padding-left: 60px;
  padding-right: 60px; }

.pd-t80 {
  padding-top: 80px; }

.pd-b80 {
  padding-bottom: 80px; }

.pd-h80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.pd-s80 {
  padding-left: 80px;
  padding-right: 80px; }

.pd-t100 {
  padding-top: 100px; }

.pd-s100 {
  padding-left: 100px;
  padding-right: 100px; }

.pd-h100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.pd-t140 {
  padding-top: 140px; }

.action-btn {
  z-index: 1;
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  padding: 5px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3); }

.action-btn.nobg {
  background: none; }

.action-btn.act-btn-right {
  width: 34px;
  height: 34px;
  padding: 2px;
  transform: rotate(-90deg); }

.action-btn .line {
  position: relative;
  width: 100%;
  height: 100%; }

.action-btn .line svg {
  fill: none;
  stroke: #F2845C;
  stroke-linecap: round;
  stroke-dasharray: 189% 40%;
  transition-property: stroke-dasharray;
  transition-duration: .6s;
  transition-delay: 0s; }

.action-btn-hover {
  cursor: pointer; }

.action-btn-hover:hover .action-btn .line svg,
.action-btn:hover .line svg {
  stroke-dasharray: 209% 0%;
  transition-delay: .2s; }

.action-btn .stick {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 6%;
  height: 64%;
  margin-left: -3%;
  border-radius: 100px;
  background-color: #F2845C;
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: .4s;
  transition-delay: .3s; }

.action-btn-hover:hover .action-btn .stick,
.action-btn:hover .stick {
  transform: scale3d(1, 0, 0);
  transition-delay: 0s; }

.action-btn .fig {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  width: 8px;
  height: 8px;
  border: 4px solid transparent;
  border-top: 4px solid #F2845C; }

.action-btn.action-btn_color1 .line svg {
  stroke: #097168; }

.action-btn.action-btn_color1 .stick {
  background-color: #097168; }

.action-btn.action-btn_color1 .fig {
  border-top-color: #097168; }

#top-scroll-btn {
  position: fixed;
  bottom: 10%;
  right: 10%;
  opacity: 0;
  visibility: hidden;
  transform: rotate(-180deg) scale3d(0, 0, 1);
  transition: .6s; }

#top-scroll-btn.show {
  opacity: 1;
  visibility: visible;
  transform: rotate(180deg) scale3d(1, 1, 1); }

.flx-0 {
  display: flex; }

.flx-0c {
  display: flex;
  justify-content: center; }

.flx-col {
  display: flex;
  flex-direction: column; }

.flx-col-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flx-cl {
  display: flex;
  align-items: center; }

.flx-cc {
  display: flex;
  align-items: center;
  justify-content: center; }

.flx-icc {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.flx-cr {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.flx-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.flx-cs {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flx-w {
  display: flex;
  flex-wrap: wrap; }

.flx-itm-r {
  flex: 1;
  flex-basis: auto; }

.flx-itm-r0 {
  flex: 1;
  flex-basis: 0; }

.flx-itm-end {
  justify-content: flex-end; }

/*
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>
 Set the width of the side navigation to 250px 
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
*/
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgba(95, 158, 160, 0.5);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 120px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 80px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/* reset_macro.scss */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: cadetblue;
  color: #fff; }

img.header_logo {
  width: 6rem; }

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px; }

li {
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  color: black; }

li:hover {
  color: yellow; }

button {
  padding: 0 20px;
  height: 3rem;
  border-radius: 20px;
  border: 0;
  background-color: yellow;
  color: cadetblue; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #343a40;
  background: cadetblue;
  color: #fff;
  height: 6rem; }

main {
  height: 100vh; }

span {
  cursor: pointer; }

/*  
  [type ="radio" ]{
	  vertical-align: middle ; 
	  appearance: none; 
	  border : max( 2px, 0.1em ) solid gray; 
	  border-radius: 50%;
	  width: 1.25rem ;
	  height: 1.25rem ;
	  transition: border 0.5s ease-in-out ;
  }*/
.flx-c {
  display: flex;
  justify-content: center;
  align-items: center; }
